[2020-03-12 18:56] smaranjitghose opened #1 "Improve the Documentation of the project"

[2020-03-12 19:00] smaranjitghose opened #2 "Make the theme of the website more even"
# Sections of the website:
- Home
- Annoucements
- Achievements
- Team
- Contact Us

[2020-03-12 19:00] goyalmuskan commented on #2
Please assign it to me!

[2020-03-12 19:04] goyalmuskan commented on #1
May I work on this issue? @smaranjitghose

[2020-03-12 19:06] Yashank18 commented on #2
Please assign it to ne. I have some ideas.

[2020-03-12 19:12] smaranjitghose opened #4 "Blog section"
Embed blogs from https://medium.com/techequilla

[2020-03-12 19:21] goyalmuskan commented on #1
The current readme is to be enhanced in this issue? @smaranjitghose

[2020-03-12 19:28] smaranjitghose opened #5 "Home Page"
Update the home page in a home.html with relevant design corresponding to the rest of the website and add on the content

[2020-03-12 19:39] smaranjitghose commented on #5
![gs_website_home_1](https://user-images.githubusercontent.com/46641503/76560217-b1f2c100-64c6-11ea-83e6-ad66784843c4.png)

- This website is for GirlScipt Chennai and not summer of code
- Make a logo for GirlScript Chennai
- Embed it properly with an appropriate background
- Change the Title
- Try to do something like this:  https://srmkzilla.net/
- For the content for a small demo fetch it from

[2020-03-12 19:41] goyalmuskan commented on #5
May I work on this issue, since I am already enhancing the homepage?

[2020-03-12 19:53] smaranjitghose commented on #1
Yes..specifically for the website.

[2020-03-12 19:57] Yashank18 commented on #5
Please assign me this issue, since I am already working along @goyalmuskan on the homepage!

[2020-03-12 20:00] smaranjitghose opened #6 "Achievements Page"

[2020-03-12 20:00] smaranjitghose opened #7 "Team Page"
Create a Team Page with animations like this:
https://dscvit.com/team.html

[2020-03-12 20:02] shreyakapoor08 commented on #1
can i take up this?

[2020-03-12 20:03] smaranjitghose opened #8 "Announcements Page"

[2020-03-12 20:04] smaranjitghose opened #9 "Contact Us Page"

[2020-03-12 20:08] payal-98 commented on #7
what we have to do in this @smaranjitghose ?

[2020-03-12 20:12] himanshusharma89 commented on #6
Hey @smaranjitghose , I would like to work on this issue. And can you add gssoc label to it also.

[2020-03-12 20:13] himanshusharma89 commented on #9
Hey @smaranjitghose , I would like to work on this issue.

[2020-03-12 20:13] smaranjitghose commented on #7
Create a Team Page with animations like this:
https://dscvit.com/team.html

[2020-03-12 20:37] smaranjitghose opened #10 "Build and Use Appropiate GitHub Actions for this project"

[2020-03-12 21:14] atrip10 commented on #8
I would like to work on this issue

[2020-03-12 22:54] smaranjitghose opened #11 "Ensure the mobile responsiveness of the website without disturbing the current theme much"

[2020-03-13 05:06] Sapna2001 commented on #7
@smaranjitghose can I work on this?

[2020-03-13 06:31] SaranshDawra commented on #7
@smaranjitghose I would like to work on this issue. Please assign me with this issue.

[2020-03-13 07:26] manan-bedi2908 commented on #7
May I work on this
?

[2020-03-13 17:03] sharmakeshav10 commented on #4
Please assign it to me @smaranjitghose and further guide me to proceed for the same.

[2020-03-13 17:48] payal-98 commented on #7
@smaranjitghose Okk I will do....Please assign me this issue

[2020-03-13 18:51] smaranjitghose commented on #7
Assigned to @payal-98 for the next 5 days..post that @SaranshDawra can take over

[2020-03-13 18:56] Sapna2001 commented on #4
I would like to work on this. Please assign this to me.

[2020-03-13 19:02] anishagoswami167 commented on #10
I want to work on this issue.

[2020-03-13 19:15] siddhishree commented on #11
I would like to work on this

[2020-03-13 19:16] siddhishree commented on #10
I would like to work on this.

[2020-03-14 06:43] KHMohit commented on #4
I am interested in working on this issue, please assign me

[2020-03-14 17:22] smaranjitghose commented on #10
@siddhishree
@anishagoswami167
Coordinate and try to come up with different GitHub actions for this. Make sure you give separate Pull Requests for each

[2020-03-14 17:41] smaranjitghose commented on #6
![Annotation 2020-03-14 230506](https://user-images.githubusercontent.com/46641503/76687344-08880880-6649-11ea-8001-77594068bd22.png)

The other pages are not at all visible from the Achievements page.Fix this

[2020-03-14 17:42] smaranjitghose commented on #6
Follow the same basic theme as the home page

[2020-03-14 17:42] smaranjitghose commented on #6
![Annotation 2020-03-14 230615](https://user-images.githubusercontent.com/46641503/76687370-3c632e00-6649-11ea-92cb-cd345d42f767.png)
 Remove this.

[2020-03-14 17:45] smaranjitghose commented on #6
Again please make the page (footer) consistent with the Home page
![Annotation 2020-03-14 230640](https://user-images.githubusercontent.com/46641503/76687415-aed40e00-6649-11ea-9477-7c2e5e114608.png)

[2020-03-14 17:50] smaranjitghose commented on #6
Have this in horizontal format
![gs2](https://user-images.githubusercontent.com/46641503/76687480-4c2f4200-664a-11ea-95e9-ea995af8fbe3.png)

[2020-03-14 18:02] satvikchachra commented on #11
@smaranjitghose Sir, I would also like to work on this issue. If possible, please assign it to me also. Thanks. :)

[2020-03-14 20:27] smaranjitghose commented on #4
medium.com/techequilla

[2020-03-15 05:49] suchi12j commented on #1
Can I work on this please?

[2020-03-15 05:50] suchi12j commented on #4
I am interested to work on this

[2020-03-15 10:12] smaranjitghose commented on #1
@suchi12j  would you like to improve the codebase with the task 2 I listed above?...
Meanwhile after @shreyakapoor08 gives a PR or two for the READMe..you can improvise further if required

[2020-03-15 11:37] suchi12j commented on #1
Yes I will work. But where is task2 above? @smaranjitghose

[2020-03-15 13:52] goyalmuskan commented on #6
May I work on this issue? @smaranjitghose

[2020-03-15 17:42] #9 closed

[2020-03-16 05:39] its-nothing-special commented on #11
@siddhishree Are you still working on this? If not, I would like to give it a shot!

[2020-03-16 05:40] siddhishree commented on #11
@its-nothing-special yes, I am working.

[2020-03-16 09:38] Aman-Codes opened #23 "Fix images and css files"
@smaranjitghose  I am a GSSOC participant and I would like to work on these issues and remove the errors from the console in this project.

- Image name in the html file is not correct so it is not loaded properly.
- owl.carousel.min.css file is not present in the css folder.
- Alt tag for images is not present.
- Adding images from other urls into the asset folder.
- font awesome file not loaded

[2020-03-16 20:41] shreoshi-roy commented on #4
@smaranjitghose please assign this issue to me, i am interested in working on this.

[2020-03-16 20:42] shreoshi-roy commented on #6
@smaranjitghose please assign this issue to me, i am interested in working on this.

[2020-03-16 20:42] shreoshi-roy commented on #7
@smaranjitghose please assign this issue to me, i am interested in working on this.

[2020-03-16 20:43] shreoshi-roy commented on #8
@smaranjitghose please assign this issue to me, i am interested in working on this.

[2020-03-16 20:43] shreoshi-roy commented on #2
@smaranjitghose please assign this issue to me, i am interested in working on this.

[2020-03-17 06:01] bharati-21 commented on #2
I'm interested in working on this too! In case any work is pending, please assign it to me as well.

[2020-03-17 15:34] atrip10 commented on #6
Please Can i work on this issue?

[2020-03-17 21:02] #2 closed

[2020-03-17 21:10] #11 closed

[2020-03-18 00:44] smaranjitghose commented on #23
Please check out the latest version of the codebase, This has been already improved a few days back

[2020-03-18 00:44] #23 closed

[2020-03-18 00:45] smaranjitghose commented on #1
@suchi12j  please check once now..Its updated

[2020-03-18 02:25] shreyakapoor08 commented on #1
i wi raise PR by today evening

[2020-03-18 12:07] arpita-in opened #30 "Redesingning the contactUs form and map"
- Adding effects to buttons and input boxes of form

- Aligning the map alongside the form for dense look

**Are you working on this issue ?
Yes**

[2020-03-18 15:45] shreyakapoor08 commented on #1
@smaranjitghose PR raised. Kindly check and let me know in case any correction is required.

[2020-03-18 16:45] anushbhatia opened #34 "Optimize the content for SEO"
Find Words related to technical and girls who code.
Find traffic related to every word using any chrome extension.

[2020-03-18 17:08] minolipvartak commented on #34
I'll do it. Please assign me this task

[2020-03-18 17:13] anushbhatia opened #35 "Change the Navbar"
- Add logo
- Change the font
- Increase the width
if possible use better colours with them.

[2020-03-18 17:17] anushbhatia commented on #5
use better background, not a pixeled one
Make the cover responsive.
![1584551702272](https://user-images.githubusercontent.com/40017559/76988164-51520100-696a-11ea-9f7f-7087e7d90127.png)

[2020-03-18 17:20] anushbhatia commented on #6
check this bug also and resolve it.
![1584551937866](https://user-images.githubusercontent.com/40017559/76988480-c1608700-696a-11ea-9ba7-f86fac5a8f9e.png)

[2020-03-18 17:20] goyalmuskan commented on #5
Working on it @anushbhatia

[2020-03-18 17:23] anushbhatia opened #36 "Conatct Us"
Improve the text fields use materialize ones and please try to improve the send message button.

[2020-03-18 17:23] Yashank18 commented on #35
I will like to work on it sir @anushbhatia

[2020-03-18 17:54] sonalsk commented on #36
We, team FemmeTech, would like to work on this issue.
Please assign it to us.
@sakshi1499

[2020-03-18 18:01] sakshi1499 opened #37 "Contact Us Navbar Redirection Missing"
Redirection in Contact Us navbar missing. Home and Contact Us navbar components give invalid results.

@sonalsk
![image](https://user-images.githubusercontent.com/42520146/76991920-6af64700-6970-11ea-9149-946d80aab5b7.png)

[2020-03-18 18:01] sakshi1499 commented on #37
We team femmetech would like to work on it @sonalsk

[2020-03-18 18:07] sonalsk opened #39 "Edit Achievements Section in Home Page"
Suggested changes :
1. Change parting line and make it more responsive
2. Edit Information under Projects and Events
3. Make section responisve

@sakshi1499

![Screenshot from 2020-03-18 23-33-40](https://user-images.githubusercontent.com/51206050/76992320-17d0c400-6971-11ea-993d-6d5ca1f39cda.png)

[2020-03-18 18:08] sonalsk commented on #39
We, team FemmeTech, would like to work on this issue.
Please assign it to us.
@sakshi1499

[2020-03-19 02:49] anushbhatia commented on #39
Let her comment and take it voluntarily

[2020-03-19 02:51] anushbhatia commented on #37
Let her take it up voluntarily

[2020-03-19 03:39] HariniJeyaraman commented on #4
@smaranjitghose Please assign this issue to me

[2020-03-19 03:41] HariniJeyaraman commented on #39
@ousnik please assign this issue to me. Would like to contribute

[2020-03-19 03:50] sakshi1499 commented on #37
We are participating in RGSOC. Also, we are a team. @anushbhatia

[2020-03-19 03:56] sakshi1499 commented on #39
We want to work on this issue as a team for RGSOC @anushbhatia

[2020-03-19 04:36] goyalmuskan commented on #39
I am already working on it @anushbhatia under Homepage.

[2020-03-19 08:13] anushbhatia commented on #39
let @goyalmuskan solve this issue if she isn't able to do it then I will assign it to @sakshi1499

[2020-03-19 08:18] anushbhatia commented on #37
if she doesn't comment I can't assign it to her

[2020-03-19 08:19] anushbhatia commented on #36
Please tell her to comment on this issue

[2020-03-19 08:28] sakshi1499 commented on #37
Assign it to me then 😊

[2020-03-19 08:29] sakshi1499 commented on #37
Also, I have already made a PR for the same @anushbhatia

[2020-03-19 08:36] sonalsk commented on #36
We are working as a team for RGSoC, the mention was for the sake of team, sir.
You can assign the issue to me

[2020-03-19 08:43] arpita-in commented on #36
issue #30  is same

[2020-03-19 08:47] #36 closed

[2020-03-19 11:05] mySTRiouscoder commented on #10
@smaranjitghose  May i work on this as well?

[2020-03-19 11:32] #39 closed

[2020-03-19 11:36] smaranjitghose commented on #37
@sakshi1499 Nice work!..Congrats on getting your first PR merged

[2020-03-19 11:37] #37 closed

[2020-03-19 11:48] FrozenGirl-spd commented on #7
@smaranjitghose  can i work on this issue?

[2020-03-19 12:18] FrozenGirl-spd commented on #4
@smaranjitghose  Can i work on this issue please?!!

[2020-03-19 12:19] FrozenGirl-spd commented on #5
@smaranjitghose  Can i work on this issue please?!!

[2020-03-19 12:36] paridhigulati commented on #34
Can I work on this, please? @anushbhatia

[2020-03-20 05:48] smaranjitghose commented on #4
@shreoshi-roy  You are assigned this for the next week.. Please makes sure there's no conflict with the home page while working

[2020-03-20 05:52] smaranjitghose commented on #8
Collaborate with @atrip10 and give concurrent PRs

[2020-03-20 07:45] anushbhatia commented on #5
check this issues @goyalmuskan
![1584690263408](https://user-images.githubusercontent.com/40017559/77144780-c6c5ea80-6aac-11ea-8da1-24bbba1ab282.png)
![1584690259086](https://user-images.githubusercontent.com/40017559/77144783-c7f71780-6aac-11ea-827a-2f18b4a192df.png)
![1584690254736](https://user-images.githubusercontent.com/40017559/77144784-c88fae00-6aac-11ea-8915-1774d9113706.png)

[2020-03-20 07:56] goyalmuskan commented on #5
On it @anushbhatia

[2020-03-20 08:01] Yashank18 commented on #5
@anushbhatia
@goyalmuskan

I will do it

[2020-03-20 08:02] goyalmuskan commented on #5
Sure @Yashank18

[2020-03-20 16:43] Aman-Codes opened #50 "Add ISSUE_TEMPLATE"
@smaranjitghose  I am a GSSOC participant and I would like to add an issue template folder with pull request template and a new issue template.
![updated pull request](https://user-images.githubusercontent.com/54680709/77185773-f3ebba80-6af7-11ea-947d-df368699ec91.PNG)

[2020-03-21 06:27] goyalmuskan commented on #6
@anushbhatia I have fixed it along with a few sections on that page, I will be creating a PR soon. :)

[2020-03-21 09:06] #10 closed

[2020-03-21 17:12] abhu-A-J opened #61 "CSS changes with validation"
@smaranjitghose I would like to add the validation on the email newsletter along with some validation styling and correct the hover effect on the button which seems to be styled a little incorrectly

here is the example of issue:
![GirlScript _ Chennai](https://user-images.githubusercontent.com/49617450/77232136-41822900-6bc5-11ea-8b52-757be8092123.gif)

[2020-03-21 19:26] mySTRiouscoder opened #62 "Back To Top button"
My idea is to add a back to top button using HTML,CSS and javascript too (probably)  which, upon clicked by the visitor will take him to the top of the page.

[2020-03-22 15:07] minolipvartak commented on #34
hello, @anushbhatia. I have collected some well-paying keywords for the website. Please check it out. The numbers denote the Cost-per-click (CPC) in USD.

The format is **{keyword - Avgerage search volume - CPC in USD}**

girls who code - 71700 - 2.12
girls can code - 700- 2.37
coding for kids	- 53300 - 1.48
coding camp for girls - 70 - 3.98
**how to code - 22600 - 2.16**
**girls who code program

[2020-03-22 15:07] minolipvartak commented on #34
FYI, I am using the free trial of the KWFinder tool.

[2020-03-22 15:11] minolipvartak commented on #62
@mySTRiouscoder I am willing to do this task.

[2020-03-22 15:12] mySTRiouscoder commented on #62
@minolipvartak Even i'm a participant , created this issue myself. Sorry for the confusion.

[2020-03-22 15:15] #61 closed

[2020-03-22 15:16] anushbhatia commented on #34
https://stackoverflow.com/questions/3812143/how-many-keywords-are-ideal-for-the-meta-keywords-tag

Check through this and add keywords with Medium traffic.

Put this code in keyword tag for html and post it here.

One with high traffic for future use.

[2020-03-22 15:23] #62 closed

[2020-03-22 15:30] minolipvartak commented on #34
For now, I have added 10 keywords to go safe with medium traffic. Is it good to go, @anushbhatia ?
[code]

[2020-03-22 15:48] anushbhatia commented on #34
Cool make a pr and push it

[2020-03-22 15:57] abhu-A-J opened #65 "Enhancement: px-->rem unit for CSS Styling"
@smaranjitghose I can see that all the styles follow px units are their measure which isn't a good practise. I propose to refactor the codebase to work on rem units rather than px units.

Note: Since there still is a lot of work going on other components in order to avoid any conflicts I would like to keep the refactored code into a different stylesheet or as you say it.

[2020-03-22 17:32] minolipvartak commented on #34
Done @anushbhatia. Please review it.

[2020-03-23 06:02] #50 closed

[2020-03-23 06:46] Mustafiz04 opened #70 "Redesigning footer"
- Resize the footer size. Fix the logo size and add a link to the top.
- Proper alignment of join our newsletter, email form and send button.
- Aligning the send button alongside the email form for the dense look.
- Fix the social media icon with proper color and hover effect.

I would like to work on this issue please assign to me under GSSoC'20.

![1](https://user-images.githubusercontent.com/49

[2020-03-23 07:18] anushbhatia commented on #65
No need for this

[2020-03-23 07:18] #65 closed

[2020-03-23 07:28] shubhammantri1 commented on #70
I want to work on this issue. Please assign it to me. @Mustafiz04

[2020-03-23 08:34] abhu-A-J opened #71 "Responsiveness Issue"
**Describe the bug**
The section which shows the `WE CREATE TRENDS FOR THE WORLD` and it's image circular component aren't responsive. The spacing gets messed up on going small screens along with the incorrect alignment of the circular components.

The part when it's starting to align correctly, the spacing gets destroyed.

Anything under 400px width the circular images deform and continue's till

[2020-03-23 08:43] #35 closed

[2020-03-23 08:52] anushbhatia commented on #71
actually people are already working on it #5

[2020-03-23 08:52] #71 closed

[2020-03-23 08:54] anushbhatia commented on #70
If @Mustafiz04 doesn't finish in 3 days I will assign this to you.

[2020-03-23 09:43] anushbhatia opened #72 "Events Page"
Create a page like the one uploaded
![Events](https://user-images.githubusercontent.com/40017559/77303335-ce89c700-6d18-11ea-8e41-cff0b59f5f66.png)

You can play with colours

[2020-03-23 09:44] abhu-A-J commented on #72
i'm interested in doing this

[2020-03-23 09:46] anushbhatia commented on #5
guys please the responsiveness issue. If you are not able to we will assign it to somebody else.

[2020-03-23 10:37] Aman-Codes commented on #72
@smaranjitghose @anushbhatia I am a GSSOC participant and I would love to work on this. Please assign me this issue.

[2020-03-23 11:03] shubhammantri1 opened #73 "Navbar Button is not visible on smaller screens"
**Describe the bug**
On minimise, the browser navbar button is not visible.

**To Reproduce**
Steps to reproduce the behavior:
1. Minimise the browser and see on the left, there is no navbar button.

**Expected behavior**
Button must be visible to navigate.

**Screenshots**
![rsz_1rsz_screenshot_from_2020-03-23_16-21-50](https://user-images.githubusercontent.com/46779831/77309969-891ec700-6d23-11e

[2020-03-23 11:04] shubhammantri1 commented on #73
Please assign it to me.

[2020-03-23 11:12] #73 closed

[2020-03-23 13:10] Yashank18 commented on #5
I will do it today.

[2020-03-23 19:49] scortier commented on #30
May u please assign me this issue, I want to work on this part.

[2020-03-24 10:10] #5 closed

[2020-03-24 10:12] #70 closed

[2020-03-24 12:47] greyhatlinux opened #82 "Addition of .gitignore file"
I see working with the project creates multiple new files with individual user-setings from their local system. Addition of .gitignore files with those will keep those not-so-essential files to the local system itself.
I'll be happy to add that to the on-going project

[2020-03-24 14:23] mySTRiouscoder opened #83 "Border shift in footer section"
The border under 'Join our Newsletter' looks like shifted towards the right in 'Contact Us' and 'Achievements ' pages.

This is what the bug looks like:
![image](https://user-images.githubusercontent.com/56103228/77435783-b7c29d80-6e08-11ea-8fb2-4d6167f5a438.png)

Proper alignment on other pages:
![image](https://user-images.githubusercontent.com/56103228/77435981-f0627700-6e08-11ea-86de-dde6098ac

[2020-03-24 14:31] shash137 commented on #30
@smaranjitghose I want to work on this issue.

[2020-03-25 09:22] #83 closed

[2020-03-25 12:15] mySTRiouscoder opened #86 "Absence of logo in 'Our Achievements' page"
This is how 'Our Achievements' page looks like:
![image](https://user-images.githubusercontent.com/56103228/77535252-53631500-6ec0-11ea-8ac1-05aa3ebb5c64.png)

As we can clearly see, the logo is absent in the logo and the side borders too.

[2020-03-25 12:25] #86 closed

[2020-03-25 14:45] minolipvartak commented on #34
Hello @anushbhatia. I have prepared a short intro by taking reference of the main website. This content contains the aforementioned keywords. Can you please review this content?

-------------------------------------------------------------------------------------------------------
GirlScript is a section-8 NON PROFIT company registered under the government of India on the 2nd June 2017. GirlScrip

[2020-03-25 16:14] #72 closed

[2020-03-26 19:02] goyalmuskan opened #90 "Error"
A minor error on the homepage and the hence in the screenshot updated in the readme as well.
I would like to rectify that.
@smaranjitghose please assign it to me.

![Screenshot (64)](https://user-images.githubusercontent.com/47412347/77686062-5fcf9680-6fc2-11ea-8c46-c0e729c942f3.png)

[2020-03-26 22:30] #90 closed

[2020-03-27 07:12] anushbhatia commented on #34
nice work now add this to the home page and if the content exceeds then add al ink for it separately.

[2020-03-28 07:25] mySTRiouscoder commented on #6
Hey! @smaranjitghose  I have some ideas to implement on this page. So, can you plz assign me as well ?

[2020-03-28 14:42] minolipvartak commented on #34
Yes. Thank you

[2020-03-28 15:21] anushbhatia commented on #6
![1585408597813](https://user-images.githubusercontent.com/40017559/77826450-6af70380-7135-11ea-8a4b-540d8f35356a.png)
increase the size of the logo
make the navbar the same as all pages
can you please make this page responsive too
![1585408772009](https://user-images.githubusercontent.com/40017559/77826470-aa255480-7135-11ea-9a65-a9d5920ef5a2.png)
please add colour to these.

divide the work @goy

[2020-03-29 09:01] Mustafiz04 commented on #30
I would like to work on this issue if work hasn't completed yet

[2020-03-29 09:05] Mustafiz04 commented on #8
Why this issue is still open??

[2020-03-29 12:48] vipuldcoder opened #96 "Create CONTRIBUTE.md"
Is your feature request related to a problem? Please describe.
This is feature which help new contributor to understand how they can contribute project and how we can help this project more effect and do understand what this project really is and how we can get started. Let's get started with making this project more better 👍

Describe the solution you'd like
Build a Document CONTRIBUTE.md that he

[2020-03-29 14:15] minolipvartak commented on #34
Hello, I have added the Intro to the **About** section of the website, and made a PR for it. Can you please review it?

[2020-03-29 14:25] shubhamaniket commented on #96
i'll do t , please assign this to me !

[2020-03-30 10:06] himanshusharma89 opened #101 "Improve achievement data for Achievements Page"
**Is your feature request related to a problem? Please describe.**
Improve achievement data for Achievements Page

**Describe the solution you'd like**
I would like to improve the achievement data of Achievements page according to other pages.

**Describe alternatives you've considered**
Improve header, footer and theme of the page

**Additional context**

@smaranjitghose

[2020-03-30 14:48] roshankcjha commented on #4
Please assign me this issue to me @smaranjitghose .I am excited to work on this.

[2020-03-30 15:46] greyhatlinux commented on #82
Hey @smaranjitghose I've added the file and made the PR :smile:
#102 please go through it

[2020-03-30 18:27] anushbhatia commented on #6
increase the size of the logos

[2020-03-30 20:12] mySTRiouscoder commented on #6
I made already as discussed on slack and gave a pull request but it was closed yesterday.

[2020-03-31 08:30] shreoshi-roy commented on #4
I have already worked on this issue and working on a PR rn (just have to
fix alignment of a button)

On Mon 30 Mar, 2020, 8:18 PM Roshan Krishnachandra Jha, <
notifications@github.com> wrote:

[2020-03-31 16:19] goyalmuskan opened #107 "Image Carousel for Homepage"
I would like to add an image carousel on the homepage instead of the background image we are currently using.

[2020-03-31 16:20] goyalmuskan commented on #107
Please assign me this issue @smaranjitghose

[2020-04-01 10:12] abhishekgupta368 commented on #30
Hey, can I do it?

[2020-04-01 16:34] smaranjitghose commented on #4
@roshankcjha after @shreoshi-roy 's Pull Request, you can take over

[2020-04-01 16:35] #82 closed

[2020-04-01 17:01] maze-runnar opened #108 "Make scroll to top button visible when needed"
**Is your feature request related to a problem? Please describe.**
Scroll to top button on index page is visible when the page is already on top.
**Describe the solution you'd like**
Make it appear when user scrolls some way down.

[code]

**Additional context**
I am working on this issue. Please assign it to me.

[2020-04-02 20:12] #108 closed

[2020-04-02 23:04] smaranjitghose commented on #8
This is because there are design improvements the mentors are planning to inculcate

[2020-04-03 09:26] shreyakapoor08 commented on #30
@smaranjitghose Can I work on this issue ?

[2020-04-03 09:26] shreyakapoor08 commented on #96
Can I work on this ?

[2020-04-03 10:14] smaranjitghose commented on #6
![achievments](https://user-images.githubusercontent.com/46641503/78349858-df142a00-75c1-11ea-8978-1ae78ce2905a.png)

Remove this part and add a section "See what our members are up to", let the cards be in a similar fashion

[2020-04-03 10:16] smaranjitghose commented on #30
@shreyakapoor08 Sure Give a PR, I will review it accordingly

[2020-04-03 10:17] goyalmuskan commented on #6
Sir, why was I unassigned this issue? @smaranjitghose

[2020-04-03 10:18] #7 closed

[2020-04-03 10:40] smaranjitghose commented on #6
If you wish to work on this more, I can reassign you

[2020-04-03 10:43] goyalmuskan commented on #6
Sure, I can work on the section you've asked to edit above.

[2020-04-03 10:43] goyalmuskan commented on #6
this one

[2020-04-03 17:07] Mansi145 commented on #1
hey @smaranjitghose, is this issue open for working? I'd like to work on this.

[2020-04-03 17:22] smaranjitghose commented on #1
Try to make it a bit interactive like [this](https://github.com/smaranjitghose/AutoPromPicker)

[2020-04-03 18:11] shreyakapoor08 commented on #96
@anushbhatia Hey, PR raised. and let me know if there is any correction required

[2020-04-04 08:35] aashimgarg opened #113 "The email input bar does not fit with themobile screen."
**Describe the bug**
The email input bar doesnt fit with the mobile screen.

**Expected behavior**
The email input bar should fit with the mobile screen.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Screenshot from 2020-04-04 14-00-23](https://user-images.githubusercontent.com/55639487/78422494-50fd7980-767d-11ea-9b12-ff99c0a5aa5e.png)

**Desktop (please complete

[2020-04-04 08:36] aashimgarg commented on #113
I want to work on this issue.

[2020-04-04 09:14] anushbhatia commented on #113
Go ahead and finish it within 3 days

[2020-04-04 09:16] ashishnagpal2498 opened #114 "CSS minor issue in email subscribe input box"
**Bug**
Only Our achievements page has orange border in email subscribe form.
All the pages look like this.
![chennai_website1](https://user-images.githubusercontent.com/36301481/78423251-bacc5200-7682-11ea-8895-8342ed0ca5a8.png)
Whereas Our achievements page -
![chennai_website2](https://user-images.githubusercontent.com/36301481/78423270-d9324d80-7682-11ea-8213-5b1b4b75be0b.png)
I would like to

[2020-04-04 09:40] ashishnagpal2498 opened #116 "Rendering Header Footer Dynamically"
**Code Consistency**
There might be some changes in header and footer. So the changes have to be done in all the files where header and footer is written. Making those render dynamically using jQuery will save this and make the code more consistent.

**Solution Description**
A javaScript file will be executed before body load and will -
 - Append the footer at end of the body
 - Prepend Header
usi

[2020-04-04 09:58] smaranjitghose commented on #8
![announcments](https://user-images.githubusercontent.com/46641503/78424126-ef430c80-7688-11ea-8c5f-e9fdd1321477.png)

Fix this

[2020-04-04 10:07] smaranjitghose commented on #116
Awesome! Give a PR for this. The mentors will review it

[2020-04-04 10:10] smaranjitghose commented on #8
![announcments_2](https://user-images.githubusercontent.com/46641503/78424344-8361a380-768a-11ea-843a-f770cf977125.png)

Make sure its aligned with the border

[2020-04-04 10:11] #8 closed

[2020-04-04 10:17] aashimgarg opened #121 "the bottom to up button collides with items in mobile screen"
**Describe the bug**
the bottom to up button collides with items in mobile screen

**Screenshots**
If applicable, add screenshots to help explain your problem.

![Screenshot from 2020-04-04 15-45-32](https://user-images.githubusercontent.com/55639487/78424481-83ae6e80-768b-11ea-8947-ce00887940ed.png)

[2020-04-04 10:17] aashimgarg commented on #121
assign me this issue.

[2020-04-04 10:17] smaranjitghose opened #122 "GitHub Actions for the Project"

[2020-04-04 10:27] ashishnagpal2498 opened #123 "CSS minor issue announcement page"
**Announcement Page Doesn't show selected**

![chennai_websiteAnnouncementPage2](https://user-images.githubusercontent.com/36301481/78424672-bf960380-768c-11ea-9575-46d87185ee27.png)

[2020-04-04 11:24] aashimgarg opened #126 "The footer github link is not working."
**Screenshots**
If applicable, add screenshots to help explain your problem.
![Screenshot from 2020-04-04 16-53-27](https://user-images.githubusercontent.com/55639487/78438782-ebb58280-7694-11ea-8548-74d787d287a8.png)

[2020-04-04 12:08] anushbhatia commented on #121
how will you proceed?

[2020-04-04 12:22] aashimgarg commented on #121
i will try to adjust its position.

[2020-04-04 12:48] aashimgarg opened #129 "KnowMore in the home page collides."
**Screenshots**
If applicable, add screenshots to help explain your problem.
![Screenshot from 2020-04-04 18-16-00](https://user-images.githubusercontent.com/55639487/78451048-a5662080-76a0-11ea-880f-522c07fac8c2.png)

[2020-04-04 12:49] #121 closed

[2020-04-04 12:50] #126 closed

[2020-04-04 12:52] #113 closed

[2020-04-04 12:54] #114 closed

[2020-04-04 12:56] #129 closed

[2020-04-04 13:14] abhu-A-J commented on #122
@smaranjitghose Sir I want to try this?? May I know the actions required??

[2020-04-04 13:30] aashimgarg opened #131 "ContactUs button on resizing fails."
**Screenshots**
If applicable, add screenshots to help explain your problem.
![Screenshot from 2020-04-04 18-58-25](https://user-images.githubusercontent.com/55639487/78452026-92564f00-76a6-11ea-9ef7-aeb7bb8aca05.png)

[2020-04-04 14:00] aashimgarg opened #133 "Text too big as it does not fit to the screen."
**Screenshots**
If applicable, add screenshots to help explain your problem

![Screenshot from 2020-04-04 19-29-52](https://user-images.githubusercontent.com/55639487/78452754-c3d11980-76aa-11ea-953d-ec8fc043bf8e.png)

[2020-04-04 14:23] goyalmuskan commented on #6
In the "See what our members are upto" section, I'll let the cards be the same, the data though, should I give social media icons in each card to view the member's profile on various platforms? @smaranjitghose

[2020-04-04 14:32] Kuljeet-123 commented on #1
@smaranjitghose Can I work on this issue ??

[2020-04-04 14:52] #131 closed

[2020-04-04 14:52] #133 closed

[2020-04-04 15:47] aashimgarg opened #136 "the about content is going out of the box."
**Screenshots**
If applicable, add screenshots to help explain your problem.

![Screenshot from 2020-04-04 20-22-02](https://user-images.githubusercontent.com/55639487/78455050-b8d1b580-76b9-11ea-955c-7e4184070882.png)

[2020-04-04 17:05] aashimgarg opened #139 "register content is shifted towards left."
**Screenshots**
If applicable, add screenshots to help explain your problem.

![Screenshot from 2020-04-04 22-34-29](https://user-images.githubusercontent.com/55639487/78456958-942f0b00-76c4-11ea-8a8a-77fe0dcb86e2.png)

[2020-04-04 17:23] #139 closed

[2020-04-04 17:24] aashimgarg opened #141 "on resizing faq the content shift towards rights"
**Screenshots**
If applicable, add screenshots to help explain your problem.

![Screenshot from 2020-04-04 22-49-41](https://user-images.githubusercontent.com/55639487/78457285-c04b8b80-76c6-11ea-9131-4877858b264e.png)

[2020-04-04 17:25] #136 closed

[2020-04-04 17:35] #141 closed

[2020-04-04 17:39] #123 closed

[2020-04-04 17:43] aashimgarg commented on #122
@smaranjitghose i want too work on this issue

[2020-04-04 18:21] smaranjitghose commented on #6
Ya let the cards be as its, no giving social media links is not required.

[2020-04-04 18:23] smaranjitghose commented on #122
Well I don't have any specifications, you can use your creativity and come up with anything from continuous integration to simple messages on merge conflicts,

Or perhaps use some of the existing ones out there

Although I would suggest try to make your own so that its a bonus on your portfolio

All of you can give PRs to this issue

[2020-04-04 18:55] #107 closed

[2020-04-04 19:01] goyalmuskan opened #145 "Fixing navbar and adding footer on Teams Page"
Currently, the team page doesn't have the updated navbar we are using and the footer is also missing, may I work on this issue? @smaranjitghose

[2020-04-04 19:08] smaranjitghose commented on #1
Collaborate with Mansi on this then

[2020-04-04 19:21] #116 closed

[2020-04-04 19:23] smaranjitghose commented on #145
Muskan, could you please check the current version. The recent PR to make it dynamic across all pages might have resolved it

[2020-04-04 19:28] goyalmuskan commented on #145
Yes, sir, it's resolved. Though it's missing the social media icons in the footer, I'll just add them with my next PR for issue #6.

[2020-04-04 19:29] ashishnagpal2498 opened #146 "CSS minor issue Navbar"
**navbar shows text color black on initial**
A check is missing in app.js  while adding active class.
![initialLoad](https://user-images.githubusercontent.com/36301481/78459729-a024c800-76d8-11ea-8919-d2fe5bebed96.png)

[2020-04-04 19:30] goyalmuskan opened #147 "Improvement of the Blogs Page"
I want to work on improving the current version of blogs.html. Please assign me the issue. @smaranjitghose

[2020-04-04 19:35] ashishnagpal2498 opened #148 "No icons in footer Our Team Page"
**Font Awesome CDN missing**
CDN needs to be added to display icons
![image](https://user-images.githubusercontent.com/36301481/78459827-7fa93d80-76d9-11ea-8f41-283d1e1e4416.png)

[2020-04-05 06:14] iBruceW commented on #146
Hi, I want to work on this issue. Please assign me on this issue.

[2020-04-05 06:22] iBruceW commented on #147
I write blogs too. Please assign me on this issue @smaranjitghose . I want to make that blog.html more appealing to the audience.

[2020-04-05 08:25] aashimgarg opened #158 "on resizing the events1.html fails."
on resizing the window the events1.html fails and the whole content goes out of the container. the event1.html does not fit the *mobile view* which is a important issue.

[2020-04-05 08:25] aashimgarg commented on #158
hey @smaranjitghose assign me this issue. i want to work on this

[2020-04-05 08:59] aashimgarg opened #159 "Loading failed for the <script> with source"
**Describe the bug**
the error displayed in the console when we are  on the achievemens.html page
"Loading failed for the <script> with source "

[2020-04-05 09:01] aashimgarg commented on #159
@smaranjitghose i want to work on this issue.

[2020-04-05 10:33] #145 closed

[2020-04-05 10:37] smaranjitghose commented on #148
@goyalmuskan  has fixed it already

[2020-04-05 10:37] #148 closed

[2020-04-05 11:09] ashishnagpal2498 opened #163 "Improvement in Our Team Page"
**Improvements**
1) responsive view shows extra padding in heading
2) Id are used at multiple places, but Ids should be unique.
3) Animation on Team Avatar hover.
4) Proper margin between Avatar responsive design.

![image](https://user-images.githubusercontent.com/36301481/78473153-eff8a300-775b-11ea-92cf-60bdae26f021.png)

[2020-04-05 11:33] BhuwanChandra opened #166 "In announcements.html, content overlaps on resizing"
In anouncements.html page, text in the upcoming events section overlaps. also, the padding in the upcoming event section is not proper.
**To Reproduce the bug**
1. Go to announcements.html
2. resize the window to mobile size
I would like to work on this issue. @smaranjitghose please assign me this issue.

[2020-04-05 11:37] aashimgarg opened #167 "add github action to assign reviewers based on assignees."
his GitHub Action eases the transition by automatically creating and deleting review requests based on assignees.

Should i work on this @smaranjitghose ?
Related to #122

[2020-04-05 12:18] aashimgarg opened #170 "the github action to open or update pull request on branch push"
This action will open a pull request to master branch (or otherwise specified) whenever a branch with some prefix is pushed to.

This will be usefull for the repo.

Should i work on this @smaranjitghose .
Related to #122

[2020-04-05 14:34] #101 closed

[2020-04-05 16:34] #30 closed

[2020-04-05 16:37] #122 closed

[2020-04-05 17:21] shreyakapoor08 opened #177 "Improvement required in Home Page"
**Describe the bug**
1. An unwanted text is visible on home screen.
![image](https://user-images.githubusercontent.com/31164665/78505058-6dd5a200-778e-11ea-9799-da312ed0c039.png)

2. The text written in the carousel does not make any sense. (WELCOME TO) what?
![image](https://user-images.githubusercontent.com/31164665/78505081-a7a6a880-778e-11ea-8662-fe517645b05d.png)

3. Alignment of text is not

[2020-04-05 17:22] shreyakapoor08 commented on #177
@smaranjitghose Please have a look at this. Can I work on it?

[2020-04-05 17:29] shreyakapoor08 opened #178 "Broken Links in Footer"
**Describe the bug**
The following links are not redirecting to the required pages.
1. Github Link
![image](https://user-images.githubusercontent.com/31164665/78505379-c443e000-7790-11ea-9d76-6110d5f0074f.png)

2. Linkedin Link
![image](https://user-images.githubusercontent.com/31164665/78505396-dd4c9100-7790-11ea-9aa4-e86dc9a197ef.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to F

[2020-04-05 17:29] shreyakapoor08 commented on #178
@smaranjitghose can I work on it ?

[2020-04-05 17:39] abhu-A-J commented on #177
Hello, @shreyakapoor08,  I'm actually working on the Home Page carousal part. I think @smaranjitghose Sir, will split this one to you on rest of the parts!! Thanks! We should wait for him to avoid any conflicting works on this one! Thanks!

[2020-04-05 17:53] #159 closed

[2020-04-05 19:20] smaranjitghose commented on #178
@shreyakapoor08 the team is working on shifting the GitHub and LinkedIn to new Ids, so its an internal issue

[2020-04-05 19:20] #178 closed

[2020-04-05 19:22] smaranjitghose commented on #177
@shreyakapoor08  Can you fix 4,5,6 while @abhu-A-J fixes 1,2,3

[2020-04-05 19:23] shreyakapoor08 commented on #177
Sure :)

[2020-04-05 19:24] smaranjitghose commented on #170
I won't prefer having this Action. Still thanks for raising this issue!

[2020-04-05 19:24] #170 closed

[2020-04-06 07:22] aashimgarg opened #184 "Improvements required in anouncements page."
1. the upcoming events do not have proper alignment .
2. On resizing the content goes out and this has to be fixed
3. excessive space at the left side.

![Screenshot from 2020-04-06 12-41-32](https://user-images.githubusercontent.com/55639487/78532429-dceddd80-7804-11ea-9d86-e6e9aa3aa846.png)

4. the buttons do not have format design throughout the page.

![Screenshot from 2020-04-06 12-49-54](htt

[2020-04-06 07:24] aashimgarg commented on #184
@smaranjitghose i want to work on this.

[2020-04-06 07:41] aashimgarg opened #185 "on resizing the achievments.html fails."
Excessive space at the starting of the page in the mobile view.

![Screenshot from 2020-04-06 13-05-23](https://user-images.githubusercontent.com/55639487/78534327-df9e0200-7807-11ea-9f49-c4d51249c36e.png)

Contents not properly aligned in this view.

![Screenshot from 2020-04-06 13-05-35](https://user-images.githubusercontent.com/55639487/78534382-f6dcef80-7807-11ea-9fc7-63f285f2cf20.png)

The ca

[2020-04-06 07:44] aashimgarg commented on #185
@smaranjitghose i want too work on this

[2020-04-06 07:56] shreyakapoor08 commented on #177
@smaranjitghose Issues resolved Kindly check. :)

[2020-04-06 08:03] minolipvartak commented on #34
Hey @anushbhatia. can you please share the analytics code for the SEO work?

[2020-04-06 08:26] shreyakapoor08 opened #187 "CSS changes required in the following issues."

[2020-04-06 08:45] aashimgarg commented on #187
i started before on working these issues.you can find other things to work on @shreyakapoor08 .

[2020-04-06 08:48] shreyakapoor08 commented on #187
@aashimgarg You might have started working on few but not all of them.
And I have also checked the open issues before creating this one.
and I did not find any issue with the above changes that I mentioned :)
You might be mistaken :)

[2020-04-06 08:50] aashimgarg commented on #187
@shreyakapoor08 i was working on the issue 5,7,8 which you mentioned.

[2020-04-06 08:56] shreyakapoor08 commented on #187
@aashimgarg That is what I said :)
Anyway, I will edit and remove the issue 5, 7, 8 from here as you are working on them :)
Good Luck!

[2020-04-06 08:59] shreyakapoor08 commented on #187
@aashimgarg I have removed it from here. It would be great if you could remove your comments from here so that mentors won't get confused with it. As i have edited the issue and removed the once which you mentioned.

[2020-04-06 09:01] #187 closed

[2020-04-06 09:01] shreyakapoor08 opened #188 "CSS issues in the below mentioned positions"
**Describe the bug**
1. The position of ANNOUNCEMENT in carousel is not correctly placed
![image](https://user-images.githubusercontent.com/31164665/78536426-74eec580-780b-11ea-98a4-887fd4138abf.png)

2. The contactus button is not matching with the other buttons
![image](https://user-images.githubusercontent.com/31164665/78536493-8e900d00-780b-11ea-9c5b-4cbeebebbd4b.png)

3. This page is opened a

[2020-04-06 09:07] shreyakapoor08 commented on #188
@smaranjitghose Hey, Can I work on the above mentioned issues ? :)

[2020-04-06 09:12] aashimgarg opened #189 "content of navbar slides down on resizing."
** Describes the bug**

The content of the navbar slides on all the pages before the toggler icon appears on the screen.

**screenshots**

![Screenshot from 2020-04-06 14-36-32](https://user-images.githubusercontent.com/55639487/78542406-c0f23800-7814-11ea-868a-d737ef0562d3.png)

**expected behavior**

![Screenshot from 2020-04-06 14-37-35](https://user-images.githubusercontent.com/55639487/785424

[2020-04-06 09:13] aashimgarg commented on #189
@smaranjitghose i want too work on this.

[2020-04-06 09:52] aashimgarg opened #190 "Carousel conntent error."
**Describe the bug**

Carousel content hides on resizing and mobile view it display goes off.

**Screenshots**
If applicable, add screenshots to help explain your problem.

![Screenshot from 2020-04-06 15-20-00](https://user-images.githubusercontent.com/55639487/78546053-72e03300-781a-11ea-8ac9-349bf5f7c702.png)

![Screenshot from 2020-04-06 15-20-05](https://user-images.githubusercontent.com/5563

[2020-04-06 10:37] smaranjitghose commented on #188
Sure!.

Also try to give multiple PRs so that it helps you on scoreboard too

[2020-04-06 10:39] shreyakapoor08 commented on #188
Got it ☺ Thanks
I will raise 2 PRs for this one ☺

[2020-04-06 10:40] shreyakapoor08 commented on #190
#188 already working on it☺

[2020-04-06 10:40] #177 closed

[2020-04-06 10:49] #190 closed

[2020-04-06 10:55] smaranjitghose opened #191 "Team Page"
Please share a screenshot with an elaborate description of what part you want to improve on or any bug you wish to fix

[2020-04-06 10:57] smaranjitghose commented on #188
Shreya you continue with the bug fixes, I am consolidating the issues for each page, whenever you are free do comment there just for the sake that others don't assume that it's available

[2020-04-06 10:59] #188 closed

[2020-04-06 10:59] smaranjitghose opened #192 "Announcement Page"

[2020-04-06 11:00] Satyam3976 commented on #191
Please Assign me this issue, I want to work on this @smaranjitghose

[2020-04-06 11:01] smaranjitghose commented on #184
As per instructions in the slack channel, comment the bugs you want to fix in the particular issues of the pages instead of raising them separately

[2020-04-06 11:01] #184 closed

[2020-04-06 11:01] Satyam3976 commented on #192
Can I work on this issue @smaranjitghose

[2020-04-06 11:02] #185 closed

[2020-04-06 11:02] #4 closed

[2020-04-06 11:02] shreyakapoor08 commented on #188
@smaranjitghose Thankyou, I will do that☺

[2020-04-06 11:03] shreyakapoor08 commented on #192
@smaranjitghose hey, assign me as discussed ☺

[2020-04-06 11:03] smaranjitghose commented on #147
Muskan continue with your work on this, just comment on the Consolidated Issue I have raised for the Blog Page whenever you are free

[2020-04-06 11:03] #147 closed

[2020-04-06 11:04] shwetagurnani commented on #191
Please assign me this issue.I want to work on it.

[2020-04-06 11:04] smaranjitghose opened #193 "Blog Page"
Please share a screenshot with an elaborate description of what part you want to improve on or any bug you wish to fix

[2020-04-06 11:04] shreyakapoor08 commented on #191
@smaranjitghose hey, kindly assign this to me☺ as discussed

[2020-04-06 11:04] shwetagurnani commented on #192
I want to work on this issue.Please assign it to me:)

[2020-04-06 11:05] smaranjitghose commented on #163
Work on #3 and #4 for now and comment on the Team Page issue highlighting the same

[2020-04-06 11:05] #163 closed

[2020-04-06 11:05] shwetagurnani commented on #192
I want to work on this issue.Please assign it to me:)

[2020-04-06 11:06] smaranjitghose commented on #189
Go ahead

[2020-04-06 11:06] Satyam3976 commented on #193
Can I work on this

[2020-04-06 11:07] shwetagurnani commented on #193
Please assign me this issue:)

[2020-04-06 11:07] smaranjitghose opened #194 "Home Page"
Please share a screenshot with an elaborate description of what part you want to improve on or any bug you wish to fix

[2020-04-06 11:07] shwetagurnani commented on #194
Can I work on it?

[2020-04-06 11:07] Satyam3976 commented on #194
I can Work on this, please issue me this

[2020-04-06 11:09] smaranjitghose commented on #166
Please check, its already fixed

[2020-04-06 11:09] #166 closed

[2020-04-06 11:10] smaranjitghose opened #195 "Contact Us Page"

[2020-04-06 11:11] smaranjitghose commented on #167
No, I would like to keep this manually monitored

[2020-04-06 11:11] #167 closed

[2020-04-06 11:18] smaranjitghose commented on #192
Please describe what you all want to improve with screenshots.
Also, make sure the ones assigned collaborate with each other so that there is no merge conflicts

[2020-04-06 11:19] smaranjitghose commented on #191
Please mention what you want to contribute with a possible screenshot

[2020-04-06 11:21] smaranjitghose opened #196 "Achievements Page"
Please share a screenshot with an elaborate description of what part you want to improve on or any bug you wish to fix

[2020-04-06 11:21] BhuwanChandra commented on #195
@smaranjitghose I would like to work on this issue. please assign me.

[2020-04-06 11:22] BhuwanChandra commented on #196
@smaranjitghose I would like to work on this. please assign me.

[2020-04-06 11:25] aashimgarg commented on #196
Hey @smaranjitghose i want too work on this issue.

![Screenshot from 2020-04-06 13-05-23](https://user-images.githubusercontent.com/55639487/78553597-29e2ab80-7827-11ea-9021-426e0312da9a.png)
excessive space given.

Content not aligned.

![Screenshot from 2020-04-06 13-05-35](https://user-images.githubusercontent.com/55639487/78553607-30712300-7827-11ea-867d-7f2ca0fd5088.png)

excess margins on b

[2020-04-06 11:25] shwetagurnani commented on #195
Please assign me this issue:)

[2020-04-06 11:25] Satyam3976 commented on #195
I can work on this, can you assign me

[2020-04-06 11:31] ashishnagpal2498 commented on #191
**Improvements**
1) responsive view shows extra padding in heading
2) Id are used at multiple places, but Ids should be unique.
3) Animation on Team Avatar hover.
4) Proper margin between Avatar responsive design.

![image](https://user-images.githubusercontent.com/36301481/78473153-eff8a300-775b-11ea-92cf-60bdae26f021.png)

[2020-04-06 11:31] aashimgarg commented on #193
overflow property should be used for the content.

![Screenshot from 2020-04-06 16-57-10](https://user-images.githubusercontent.com/55639487/78554060-0ec46b80-7828-11ea-9acb-179ca6b5dace.png)

Excess margin on both the sides on the blog posts.

![Screenshot from 2020-04-06 16-57-28](https://user-images.githubusercontent.com/55639487/78554161-4501eb00-7828-11ea-8048-21f0ab5f4768.png)

Hey @smaranji

[2020-04-06 11:33] shreyakapoor08 commented on #195
@smaranjitghose I have found these issues in the contactus page.

1. Name in the form is allowing to write the numbers
2. Accepting invalid email.
3. Their must be minimum length of the subject and the message to continue.

![image](https://user-images.githubusercontent.com/31164665/78554107-256ac280-7828-11ea-9a3e-cce78faa5807.png)

The form is accepting the above shown inputs in the screenshot a

[2020-04-06 12:00] #146 closed

[2020-04-06 12:04] abhu-A-J commented on #194
@smaranjitghose Sir, I want to work on this:
Currently the flipping card animations look great on the homepage but it is a **UX bug** for devices on which we  **can't hover** there is no way for user to know if content exists behind the card until the click on this ( since hover converts to click on such devices)
I want to write **advanced media queries** to judge if a device is **(touch based or

[2020-04-06 12:20] ashishnagpal2498 commented on #194
Cleaning -  Removing
1) Inline CSS from homepage
2) Deprecated tags like font, center etc.

[2020-04-06 12:21] ashishnagpal2498 commented on #196
Cleaning -  Removing
1) Inline CSS
2) Deprecated tags like font, center etc.

[2020-04-06 12:22] ashishnagpal2498 commented on #193
Cleaning -  Removing
1) Inline CSS
2) Deprecated tags like font, center etc.

[2020-04-06 12:22] ashishnagpal2498 commented on #192
Cleaning -  Removing
1) Inline CSS
2) Deprecated tags like font, center etc.

[2020-04-06 12:24] smaranjitghose commented on #196
@aashimgarg and @ashishnagpal2498 Go ahead and please collaborate on the issues you solve

[2020-04-06 12:25] smaranjitghose commented on #195
@all Please specify the parts you want to work on

[2020-04-06 12:29] #158 closed

[2020-04-06 12:30] smaranjitghose commented on #191
@ashishnagpal2498 please collaborate with @shreyakapoor08 for the changes when you two give your PRs

[2020-04-06 12:31] smaranjitghose commented on #194
@ashishnagpal2498 Please be more specific with some Screenshots

[2020-04-06 12:33] #6 closed

[2020-04-06 12:37] ashishnagpal2498 commented on #194
@smaranjitghose , use of font as tag. using inline CSS like here -
![image](https://user-images.githubusercontent.com/36301481/78559092-661b0980-7831-11ea-845c-ff7da7642688.png)

[2020-04-06 13:19] BhuwanChandra commented on #192
@smaranjitghose I would like to work on these following issues. please assign me.

1. on clicking read more on upcoming events on the next page have these resizing issues in the schedule section
![Capture3](https://user-images.githubusercontent.com/46065877/78561315-235b3080-7835-11ea-9d86-988e3882b4c2.JPG)

2. on clicking read more on upcoming events on the next page have there are resizing issue

[2020-04-06 13:32] BhuwanChandra commented on #196
@smaranjitghose I would like to work on these issues. please assign me.

1. button colors and style is not matching with the theme of the website
![Capture4](https://user-images.githubusercontent.com/46065877/78563658-f6a91800-7838-11ea-9ead-d3382309dd7e.JPG)

2. back to top button is hiding behind the content
![Capture5](https://user-images.githubusercontent.com/46065877/78563712-09bbe800-7839-11

[2020-04-06 13:39] goyalmuskan commented on #147
Okay Sir @smaranjitghose

[2020-04-06 13:40] goyalmuskan commented on #193
Sir, may I work on this issue? @smaranjitghose

[2020-04-06 14:14] abhu-A-J commented on #195
I would like to work on the following issues on page:
1. The navbar is completely different in styling and appreance from other pages (HTML+CSS).
2. The submit button improvement in terms of styling and making it consistent with other pages. (CSS fix).
3. The text reach us is also on different styling (CSS fix)

**SCREENSHOTS**
![Screenshot (86)](https://user-images.githubusercontent.com/49617450/

[2020-04-06 15:59] #189 closed

[2020-04-07 09:27] abhu-A-J commented on #191
Part 3: not taken into consideration above

I would like to collaborate with other above and do the following:
- Fix the navbar and make it consistent with other pages
- Bring in the go to top button and get it functioning on the page
- The heading and sub headings are not consistent with other pages in terms of it looks and style (it kinda looks completely different from other pages)
 I think res

[2020-04-07 10:12] anushbhatia commented on #34
DM on slack what all u will require for it.

[2020-04-07 19:51] smaranjitghose commented on #192
@goyalmuskan Please point out the enhancements or the bugs you wish to work on

[2020-04-07 19:57] smaranjitghose commented on #1
@Kuljeet-123 @Mansi145 you are being assigned this for the next 3 days. Post that it shall be reassigned

[2020-04-07 20:01] goyalmuskan commented on #192
1. Remove carousel and do something else in its place -
![Screenshot (83)](https://user-images.githubusercontent.com/47412347/78713681-47536a80-7938-11ea-8534-c809a7799f73.png)

2. Improve CSS of these cards -
![Screenshot (84)](https://user-images.githubusercontent.com/47412347/78713765-64883900-7938-11ea-8e35-a55d522d703b.png)

3. Improve CSS -
![Screenshot (85)](https://user-images.githubuserco

[2020-04-07 20:06] smaranjitghose commented on #192
Cool..go ahead

[2020-04-08 01:10] smaranjitghose opened #213 "UI/UX Tasks"
- Create a custom logo for the project that represents the concepts of open-source,code and the actual GirlScript Foundation logo
- Create a preview image for the repository (1280×640) with the key ideas mentioned above

[2020-04-08 01:19] abhu-A-J commented on #191
Mentors is this still open to do?

[2020-04-08 01:22] habeeba-naaz commented on #213
I am interested to work...if possible please assign this to me

[2020-04-08 02:17] aashimgarg commented on #213
I am interested in this work.

[2020-04-08 05:55] raniyer commented on #194
<b>Hi, I would like to work on these issues on the home/index page.</b>

1) Add animation to the image slider behind "welcome to GirlsScript Chennai"
![Capture](https://user-images.githubusercontent.com/46458711/78748965-de491280-798a-11ea-8dd2-8b49f3a36090.PNG)

2) rectify the flipped card error. See image.
![fliperror](https://user-images.githubusercontent.com/46458711/78748962-ddb07c00-798a-11e

[2020-04-08 07:35] Kuljeet-123 commented on #1
@smaranjitghose I will raise the PR by today evening.

[2020-04-08 08:31] Kuljeet-123 commented on #1
@smaranjitghose Please review my PR and let me know if some correction is needed.

[2020-04-08 09:17] smaranjitghose commented on #194
Sure, go ahead with the changes

[2020-04-08 09:19] anushbhatia commented on #34
till then have a description and og tags for SEO

[2020-04-08 09:31] habeeba-naaz commented on #213
Thank you for assigning...I’ll start working on it

[2020-04-08 12:02] anushbhatia commented on #194
Can someone make the home carousel more smoother as it takes really long time to load?
either use optimized images or use a different code for carousel.

[2020-04-08 12:06] smaranjitghose commented on #213
Please make sure that you design it from scratch. We don't want any copyright issues here

[2020-04-08 12:07] anushbhatia commented on #213
Respond back to me on slack when done with design don't give a PR directly.

[2020-04-08 12:08] aashimgarg commented on #213
Ok @smaranjitghose

[2020-04-08 12:08] habeeba-naaz commented on #213
![GirlScript-Chennai Logo](https://user-images.githubusercontent.com/29932609/78782476-18f18180-7970-11ea-8355-6adccca148cc.png)

[2020-04-08 12:38] abhu-A-J commented on #194
@anushbhatia  Sir may I do this?

[2020-04-08 13:28] habeeba-naaz commented on #213
![GSChennaiLogo](https://user-images.githubusercontent.com/29932609/78789554-48f25200-797b-11ea-842b-e50d95d9d5cc.png)

[2020-04-08 15:34] aman-atg opened #221 "email input not working propery in contactUs page"
**Describe the bug**
As the email field looses focus its "placeholder" overlaps with the input's value

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://127.0.0.1:5500/contactUs.html'
2. Click on 'Email Field'
3. Enter any invalid email
4. See error

**Expected behavior**
Red border and no change in Placeholder's position

**Screenshots**
![ss](https://user-images.githubuserconte

[2020-04-08 15:35] aman-atg commented on #221
I would like to work on this.

[2020-04-08 16:04] smaranjitghose commented on #221
Don't raise separate issues. Please comment on the associated pages's issue

[2020-04-08 16:04] #221 closed

[2020-04-08 16:20] goyalmuskan commented on #193
@smaranjitghose Can I still work on this? I need to link social media icons and improve the first section.

[2020-04-08 16:38] smaranjitghose commented on #193
Ya sure

[2020-04-08 18:26] rajraman786 commented on #1
I want to work on this.

[2020-04-08 21:33] smaranjitghose commented on #194
@abhu-A-J  coordinate with @raniyer on this issue then so that there are no merge conflicts

[2020-04-09 05:54] abhu-A-J commented on #193
@smaranjitghose Sir, it has the following issues:
- Navbar is inconsistent
- The styling of heading, subheads etc is completely off from another page
-  The section is filled with inline styles and I would like to clean that out because it will create specificity issues!
- Also I can make the header look a little than it is right now.

May I move forward if you feel they are important to address?

[2020-04-09 06:05] goyalmuskan commented on #191
Sir, may I work on this? The footer of this page isn't consistent with the other pages. @smaranjitghose

[2020-04-09 07:58] anushbhatia commented on #193
Sure move ahead!

[2020-04-09 07:59] anushbhatia commented on #191
Go ahead and try ti complete this eithin 3 days

[2020-04-09 08:01] anushbhatia commented on #1
Can someone add this
1. git stash  -> save your uncommited stuff, if you need
2. git remote add upstream https://github.com/ururl
3. git fetch upstream
4. git checkout branch_name  Choose to the branch that you are working
5. git rebase upstream/master  Start the rebase, probably you will need to solve some conflicts, you can always ask here.
6. git stash pop  -> recover your uncommited stuff
7. g

[2020-04-09 08:03] abhu-A-J commented on #193
Thank you! :)

[2020-04-09 08:05] Kuljeet-123 commented on #1
@anushbhatia can I work on this??

[2020-04-09 08:25] goyalmuskan commented on #191
Yes, sure!

[2020-04-09 08:35] shreyakapoor08 commented on #1
Yes, Can I do it @anushbhatia

[2020-04-09 08:52] shreyakapoor08 commented on #195
Get in touch section is touching the header. CSS of it should be improved.
![image](https://user-images.githubusercontent.com/31164665/78876777-791a1d80-7a6d-11ea-814e-a1316793c1ae.png)

[2020-04-09 09:47] shreyakapoor08 commented on #194
@smaranjitghose Email id validation required for the input field in the footer.
Can I work on this ?

[2020-04-09 10:18] #195 closed

[2020-04-09 10:27] shreyakapoor08 commented on #191
@anushbhatia @smaranjitghose
Their is no margin between the header and the starting of body
![image](https://user-images.githubusercontent.com/31164665/78885790-cf418d80-7a7a-11ea-865a-6f4c39461e57.png)

Can I work on this ?

[2020-04-09 10:30] shreyakapoor08 commented on #196
@smaranjitghose @anushbhatia

*On clicking anywhere on the card it is opening the events page. It should only be opened when clicked on the read more button.
![image](https://user-images.githubusercontent.com/31164665/78886076-4119d700-7a7b-11ea-9c0c-cc1136ba57a7.png)

Can I work on this ?

[2020-04-09 10:37] Adyasha8105 commented on #213
@smaranjitghose Can I work on this issue?

[2020-04-09 11:08] Adyasha8105 opened #237 "Rearrange the Files"
@smaranjitghose I just want to arrange these files and put them at specific folders.
Can you assign this part to me?

[2020-04-09 11:14] smaranjitghose commented on #237
Cool!.
But make sure you make a Guide.MD file where you elaborately describe the organization of the files as well as what each is related to

[2020-04-09 11:15] Adyasha8105 commented on #237
Okay :)

[2020-04-09 11:16] smaranjitghose commented on #194
Ya, please improve on those Shreya

[2020-04-09 11:16] smaranjitghose commented on #191
sure!

[2020-04-09 11:17] Adyasha8105 commented on #237
Can you ellaborate???

[2020-04-09 11:18] smaranjitghose commented on #196
Ya, fix that please

[2020-04-09 11:19] smaranjitghose commented on #213
@anushbhatia is supervising this. Please have a talk with him on the slack channel regarding this

[2020-04-09 11:53] goyalmuskan opened #241 "ContactUs Page"
I want to improve the CSS of the form and make it consistent with the other pages.
May I work on this issue? @smaranjitghose

[2020-04-09 12:08] #194 closed

[2020-04-09 12:21] smaranjitghose commented on #237
@Adyasha8105 I would suggest doing this after 15th April

[2020-04-09 12:24] smaranjitghose commented on #191
@shreyakapoor08 take the google drive link from @anushbhatia and update the board members pictures

[2020-04-09 12:25] shreyakapoor08 commented on #191
@anushbhatia Please send the link 😊

[2020-04-09 12:27] smaranjitghose commented on #213
@Adyasha8105
 Go to medium.com/techequilla and see the first blog there for the Shots series.
Can you design some cover image templates for it that we can officially use for the future blogs
If you wish you can take images from UnSplash but please do not take some other's blogs images directly, we don't want copyright issues here

[2020-04-09 12:51] minolipvartak commented on #34
Hey @anushbhatia Can you please explain me in detail ? like which description? and og tags?

[2020-04-09 12:54] Mansi145 commented on #1
I am already assigned to this issue. Can I work on this? I'll make the PR by tonight.

[2020-04-09 13:21] Adyasha8105 commented on #237
@smaranjitghose I have already made a PR.

[2020-04-09 14:12] smaranjitghose commented on #191
@anushbhatia @shreyakapoor08 Please don't share that here. Use slack for it 😅

[2020-04-09 14:13] #192 closed

[2020-04-09 14:13] #193 closed

[2020-04-09 14:52] shreyakapoor08 opened #248 "Announcement Page"
**Describe the bug**
inspect shows error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Announcement
2. Right Click and click inspect
3. See error

**Expected behavior**
The error should be removed

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/31164665/78908504-cdd68c00-7a9f-11ea-9f0b-013570810845.png)

[2020-04-09 14:52] shreyakapoor08 commented on #248
@smaranjitghose Can I work on this ?

[2020-04-09 15:37] rajraman786 commented on #241
sir, I want to add an attractive related image at the top of the page. change the style of the form, configure submit button and add any type of captcha before submit of form
may i work on this.

[2020-04-09 16:47] shreyakapoor08 commented on #191
Done, Please check

[2020-04-09 18:36] #196 closed

[2020-04-09 18:38] #248 closed

[2020-04-09 19:56] anushbhatia commented on #34
go to [gssoc.tech](gssoc.tech) go to inspect element look through the top of the code u will get some information about it.

[2020-04-09 21:25] #191 closed

[2020-04-09 21:41] smaranjitghose commented on #1
@rajraman786 @shreyakapoor08 Would you be interested in Task 2 mentioned above?
For a quick synopsis, what we wish to achieve here:
- for each of the pages, give detailed comments of what each section of the code is for
- repeat the same for CSS files
- Maintain a Guide.MD file at the root level of the master branch where you have sections (use #) for each page (attach snapshots) and within those

[2020-04-09 21:43] shreyakapoor08 commented on #1
@smaranjitghose Yes, I will work on it

[2020-04-09 22:01] smaranjitghose commented on #1
@shreyakapoor08
Please do this in:
-  multiple PRs for each of the pages so that it is less cumbersome for me to review and suggest changes.
- for a particular page, once you update the Guide.MD file, give an update PR for it at least after 2-3 days as we might have some bug fixes or enhancements for the same

[2020-04-09 23:11] garimasingh128 opened #253 "Padding issues in team page and unexpected changes in navbar."
**Describe the bug**
The team page features the pictures of the teammates in which animation is buggy due to padding issues. The navbar changes all the navbar items to bold text when we click on Announcements, Our Team and Our Achievements. And other buggy UI issues.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Home'
2. Observe the navbar.
3. Now go to any of the following: Announc

[2020-04-09 23:12] garimasingh128 commented on #253
@smaranjitghose Kindly allow me to fix these small UI bugs if they're well-considerable.

[2020-04-10 00:37] smaranjitghose commented on #253
@garimasingh128 in your PR, please remove the ```show all``` button as well as the associated hidden section for the Board  Members

[2020-04-10 03:09] aashimgarg commented on #213
![Screenshot from 2020-04-10 08-37-41](https://user-images.githubusercontent.com/55639487/78958809-cac2b680-7b06-11ea-962b-9d8c10ff79ab.png)

@anushbhatia have a look. :)

[2020-04-10 06:46] Adyasha8105 commented on #237
@smaranjitghose Just Inform me when I have to do, I will surely do it.

[2020-04-10 10:38] anushbhatia opened #256 "Create a vector for offline or error 404 screen"
Take ideas from
[Link 1](https://dev.to/) (Use it in offline mode)
[Link 2](https://www.searchenginejournal.com/404-page-examples/211154/)
[Link 3](https://optinmonster.com/best-404-page-examples/)

**If you need any vector or any ideas you feel free to contact any mentor.**

[2020-04-10 11:59] anushbhatia commented on #213
![1586519917684](https://user-images.githubusercontent.com/40017559/78989262-c58a5980-7b50-11ea-8b44-843b4a44477d.png)
make same for our website

[2020-04-10 12:04] aashimgarg commented on #256
Can i work on this issue?

[2020-04-10 12:22] smaranjitghose opened #258 "Bugs in Achievements Page and Related Enhancements"
# 1. Fix the spacing and alignment

![achievments](https://user-images.githubusercontent.com/46641503/78990441-118acd80-7b54-11ea-8872-63ad2a2d5829.png)

# 2  Projects Section
![Annotation 2020-04-10 175110](https://user-images.githubusercontent.com/46641503/78990585-6cbcc000-7b54-11ea-9297-bcec4c9dc383.png)

- Link Text overflows.
- Instead have a button that redirects to GitHub. (View or Check i

[2020-04-10 12:22] Aman-Codes opened #259 "Add Code_Of_Conduct.md"
**Is your feature request related to a problem? Please describe.**
No Code_Of_Conduct.md file present and link in readme.md does not work

**Describe the solution you'd like**
As a GSSOC participant I would like to add Code_Of_Conduct.md file and update Readme.md.

**Additional context**
![broken link](https://user-images.githubusercontent.com/54680709/78990347-dab4b780-7b53-11ea-987b-d89d2f27813e

[2020-04-10 12:26] Aman-Codes commented on #258
@smaranjitghose  I would like to work on this issue. Please assign me this issue.

[2020-04-10 12:34] smaranjitghose commented on #258
@Aman-Codes Work on #1 first, get the PR merged and then comment here for #2

[2020-04-10 12:40] goyalmuskan commented on #258
May I work on 2nd? @smaranjitghose

[2020-04-10 13:05] Adyasha8105 commented on #213
@anushbhatia  Can I work on it?

[2020-04-10 15:20] shreyakapoor08 commented on #258
@smaranjitghose Can I work on this ?

[2020-04-10 15:21] Adyasha8105 commented on #256
@anushbhatia  May I?

[2020-04-10 15:27] smaranjitghose commented on #258
@Aman-Codes is doing #1 and @goyalmuskan  is doing #2 after their PRs, you can add some animations or hover effect to the pictures

[2020-04-10 15:29] shreyakapoor08 opened #262 "Our Blog section"
**Describe the bug**
Improving CSS

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Our Blog
2. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/31164665/79002487-368c3a00-7b6e-11ea-8a58-387e30d381f8.png)

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. c

[2020-04-10 15:30] shreyakapoor08 commented on #262
@smaranjitghose Can I work on this ?

[2020-04-10 15:32] ashishnagpal2498 opened #263 "Code Quality Improvement"
**CSS can be defined once and can be reused at different places**
There is a lot of redundancy I see in all the file and code is bit messy which I think can be refactored.
1. Improving CSS -
2. Removing deprecated tags like center,font etc.
3. Improving code convention - using correct tags - There are places where '<p>' tag is used for buttons which don't make any sense.
4. Using script tags betwe

[2020-04-10 15:40] smaranjitghose commented on #262
Definitely change that. If required you can remove it because when the page is loaded, it seems to be a different section itself

[2020-04-10 16:33] smaranjitghose commented on #263
Cool! Work on this. But please don't give a PR for this issue until 15th, we have some more changes to make after which you can proceed

[2020-04-10 17:47] shreyakapoor08 opened #267 "Announcement Page Cards"
**Describe the bug**
Readmore is associated with the header tag it should be a button instead

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Announcement Page
3. Scroll down to Recent Event
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/31164665/79011319-6a248f80-7b81-11ea-9abf-ef8b75f3c47c.

[2020-04-10 17:47] shreyakapoor08 commented on #267
@smaranjitghose Can I correct this ?

[2020-04-10 17:50] shreyakapoor08 opened #268 "Technical Team Button"
**Describe the bug**
The button show all is overlapping the cards

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Team
3. Scroll down to Technical Team
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/31164665/79011488-c687af00-7b81-11ea-9276-c29b8ce49657.png)

**Desktop (please complete the fo

[2020-04-10 19:07] ashishnagpal2498 commented on #263
Okay, let all the changes be done, then I can work on it.

[2020-04-10 20:15] smaranjitghose commented on #258
@Aman-Codes when you fix the spacing please ensure you have already incorporated the changes @goyalmuskan made, we don't want the same thing to be done again

[2020-04-10 21:12] smaranjitghose commented on #241
@rajraman786
-  Please don't give a PR by adding an image on the top. If you wish to do it, first give the screenshots of the proposed changes regarding it here
- Centre align the ```Send Message``` button
- Add the captcha verification feature

[2020-04-10 21:47] #262 closed

[2020-04-10 21:50] #267 closed

[2020-04-10 22:03] shreyakapoor08 commented on #267
@smaranjitghose Kindly add the difficulty label :)

[2020-04-10 22:17] smaranjitghose commented on #1
@shreyakapoor08 I am closing this for now. Once we are done with all the major changes in the front-end part, we shall use [Sphinx](https://docs.readthedocs.io/en/stable/intro/getting-started-with-sphinx.html) for professional documentation instead of READMEs or similar markdown files

[2020-04-10 22:17] #1 closed

[2020-04-10 22:18] smaranjitghose commented on #237
Once, the front end is finalized and all the code is well documented. We can have this done @Adyasha8105. For now, I am closing this issue

[2020-04-10 22:19] #268 closed

[2020-04-10 22:19] shreyakapoor08 commented on #1
Got it :)

[2020-04-10 22:21] smaranjitghose commented on #253
@garimasingh128 Please continue with this issue after incorporating the recent changes

[2020-04-10 22:22] garimasingh128 commented on #253
Okay sir.

[2020-04-10 22:27] smaranjitghose opened #274 "Footer Fix for all pages"
**Description of the enhancement**
A clear and concise description of what the problem you wish to solve or any enhancement you wish to do for the project

**Screenshots**
![footer](https://user-images.githubusercontent.com/46641503/79026909-e336dd80-7ba7-11ea-9a84-98de63108091.png)
- Shift the GirlScipt Icon to the left
- Instead of ```Copyright...``` , make it ```Made with  ♥  ```

[2020-04-10 22:56] shreyakapoor08 commented on #274
can I work on this? @smaranjitghose

[2020-04-11 05:27] Aman-Codes commented on #259
@smaranjitghose Can you please share your email id where participants can report any unacceptable behavior.

[2020-04-11 06:46] rajraman786 commented on #241
@smaranjitghose
sir,
   here is the screenshot of  captcha verification feature
  and Centre align the Send Message button.
![cs2](https://user-images.githubusercontent.com/55931033/79037379-fcfb1380-7bed-11ea-8eab-db3de9fe14b3.PNG)

and here is screenshot of image added on the top.
![cs1](https://user-images.githubusercontent.com/55931033/79037401-316ecf80-7bee-11ea-9b80-fbfcfe8d4046.PNG)
and her

[2020-04-11 06:48] rajraman786 commented on #241
@smaranjitghose
sir,
    kindly take a look on these screenshot. and suggest me
   with which features i give the PR.

[2020-04-11 09:50] #213 closed

[2020-04-11 10:35] anushbhatia commented on #241
Which capache have u used? And try to incorporate it within design like a field for that entry.

[2020-04-11 11:46] rajraman786 commented on #241
@anushbhatia
here I used numbered captcha and it is suitable with website CSS.

here is the screenshot.
![cs4](https://user-images.githubusercontent.com/55931033/79042758-e8cc0c00-7c17-11ea-8691-6f82b7f8ec60.PNG)

and kindly comment about the image part.
it seems good or I have to remove it.

[2020-04-11 12:05] #274 closed

[2020-04-11 12:39] anushbhatia commented on #241
Have the input field same as that of the other fields

[2020-04-11 13:37] rajraman786 commented on #241
@anushbhatia
  sir,
      may you describe more.
      what i do.

[2020-04-11 14:18] anushbhatia commented on #241
Jave u seen the other input format on screen. I want the input format the same. Rest everything is great

[2020-04-11 18:19] rajraman786 commented on #241
@anushbhatia
sir,
    as you told make input format of captcha same as other input formats.
but it doesn't suit the form. it may arise another issue.
this CSS of the input format of captcha fit with the form.

here is the screenshot of the form

![cs5](https://user-images.githubusercontent.com/55931033/79051648-e20cbb80-7c4e-11ea-9a0b-62df8fe68395.PNG)
now if you say I put the PR

[2020-04-11 19:16] anushbhatia commented on #241
ok

[2020-04-11 19:19] anushbhatia commented on #258
Reduce the shadow in these and add a lighter colour and have a button to read more.
![1586632693809](https://user-images.githubusercontent.com/40017559/79052921-4e8bb880-7c57-11ea-9a98-d7bf8ccb72d2.png)

[2020-04-11 19:20] anushbhatia opened #285 "Blog page streched image"
Use the medium's original format to embed the blog
![1586632572694](https://user-images.githubusercontent.com/40017559/79052977-a4606080-7c57-11ea-8da5-ec05616b96ac.png)

[2020-04-11 19:22] goyalmuskan commented on #285
May I work on this? @anushbhatia

[2020-04-11 19:34] anushbhatia opened #286 "Button Enhancement all over the project"
Use the same kind of drop shadow all over the project
Have round rectangular corners
radius: 6-8
x:0
y:3
b:6

Before giving a pr just send the image here

[2020-04-11 19:38] anushbhatia opened #287 "Card Optimization in achievements page"
![1586633754706](https://user-images.githubusercontent.com/40017559/79053283-c8bd3c80-7c59-11ea-8352-898ca1bb2dbd.png)
Use Proper Symbols in this.
Remove the red line present in the card and Girlscript Chennai heading

[2020-04-11 19:45] Adyasha8105 commented on #286
Can I?

[2020-04-11 19:46] Adyasha8105 commented on #287
can I work on this?

[2020-04-11 20:17] ashishnagpal2498 commented on #286
@anushbhatia @smaranjitghose  Can I work on this ?

[2020-04-11 20:19] ashishnagpal2498 commented on #287
@anushbhatia @smaranjitghose Can I work on this ? :)

[2020-04-11 20:44] garimasingh128 opened #288 "Adding Codacy integration to rate code quality."
**Description of the enhancement**
Adding Codacy integration to rate code quality.

[2020-04-11 21:05] ashishnagpal2498 opened #290 "Improvement in Contact us page."
I want to improve the CSS of contact us page. It is looking empty as compared to other pages.
![image](https://user-images.githubusercontent.com/36301481/79054871-2e172a80-7c66-11ea-87c1-0ccb3cf00773.png)

[2020-04-11 21:15] ashishnagpal2498 opened #291 "Some pages donot have dynamic footer"
Footer code can be removed as footer is defined in app.js dynamically.
![image](https://user-images.githubusercontent.com/36301481/79055061-8d296f00-7c67-11ea-9ff8-1e7e3d81aa26.png)

[2020-04-11 21:23] ashishnagpal2498 opened #293 "Improvement in our achievement page"
The card overlaps on show more button.
Before
![image](https://user-images.githubusercontent.com/36301481/79055212-df1ec480-7c68-11ea-92e6-ef65482b4848.png)

After card opens
![image](https://user-images.githubusercontent.com/36301481/79055219-e8a82c80-7c68-11ea-855f-d53ee50365b4.png)

[2020-04-11 21:45] #256 closed

[2020-04-12 05:58] anushbhatia commented on #290
Don't clutter the ui then

[2020-04-12 06:00] anushbhatia commented on #291
Linos are incorrect change them too add correct links and before making a pr sent changes here.

[2020-04-12 06:01] anushbhatia commented on #293
Already an issue exaists for this

[2020-04-12 06:01] #293 closed

[2020-04-12 06:28] rajraman786 commented on #241
@anushbhatia
sir,
     i added the PR please check.

[2020-04-12 08:47] shreyakapoor08 commented on #258
![image](https://user-images.githubusercontent.com/31164665/79064625-1e303280-7cc8-11ea-95aa-d10b7d23d337.png)

@smaranjitghose Can I add the content to this one. and remove the dummy content ?

[2020-04-12 08:54] shreyakapoor08 commented on #258
@smaranjitghose
While clicking on these it redirects to the top of the page which should not be the case
![image](https://user-images.githubusercontent.com/31164665/79064767-56844080-7cc9-11ea-9e7d-d3ed62d2c819.png)

[2020-04-12 08:56] shreyakapoor08 opened #300 "Home Page Enhancements"
![image](https://user-images.githubusercontent.com/31164665/79064625-1e303280-7cc8-11ea-95aa-d10b7d23d337.png)

@smaranjitghose @anushbhatia  Can I add the content to this one. and remove the dummy content ?

[2020-04-12 08:57] shreyakapoor08 commented on #300
@smaranjitghose
While clicking on these it redirects to the top of the page which should not be the case
![image](https://user-images.githubusercontent.com/31164665/79064767-56844080-7cc9-11ea-9e7d-d3ed62d2c819.png)

[2020-04-12 09:00] shreyakapoor08 opened #301 "Announcement Page Enhancement"
The cards are looking empty and enlarged as compared to the content
![image](https://user-images.githubusercontent.com/31164665/79064886-1e313200-7cca-11ea-87e3-d42c48f7f1ef.png)

@smaranjitghose @anushbhatia  Can I work on this ? :)

[2020-04-12 09:01] shreyakapoor08 commented on #301
@smaranjitghose While clicking on the first card the button(Read More) design is different than the other 2
![image](https://user-images.githubusercontent.com/31164665/79064917-5afd2900-7cca-11ea-9fbe-1584406f0938.png)

[2020-04-12 09:04] shreyakapoor08 opened #302 "Our Team Enhancement"
@smaranjitghose @anushbhatia   Show all button is irrelevant here. Can I work on it
![image](https://user-images.githubusercontent.com/31164665/79064964-ba5b3900-7cca-11ea-9eec-2aa925abdf6d.png)

[2020-04-12 09:16] ashishnagpal2498 commented on #286
@anushbhatia -  radius 10px
box-shadow -0 3 6
![image](https://user-images.githubusercontent.com/36301481/79065211-4588fe80-7ccc-11ea-9a51-58a68a3d0934.png)
Is this fine?

[2020-04-12 09:19] goyalmuskan opened #303 "Making Announcement Page Responsive"
**Description of the enhancement**
The current version of the announcement page is not responsive.

**Screenshots**
Screenshots of the proposed changes compared with the current version of the project
![Screenshot (134)](https://user-images.githubusercontent.com/47412347/79065285-d7910700-7ccc-11ea-9cf9-0a95f0ffa21c.png)
![Screenshot (133)](https://user-images.githubusercontent.com/47412347/790652

[2020-04-12 09:20] goyalmuskan commented on #303
May I work on this? @smaranjitghose

[2020-04-12 13:52] ashishnagpal2498 commented on #291
Hi @anushbhatia , Kindly provide the correct links of girlScript-chennai social media.

[2020-04-12 15:10] minolipvartak commented on #34
hey @anushbhatia I have prepared a short desc according to SEO. Can you please review it?

<meta name="description" content="GirlScript Chennai website is a base for Chennnai chapter, and serves a template for other chapters. All the channel-specific tech events, coding competitions, and other resources are mentioned in this website.">

[2020-04-12 16:12] anushbhatia commented on #34
great add it.

[2020-04-12 17:00] aashimgarg opened #308 "Fixing the footer."
The footer looks weird.

![Screenshot from 2020-04-12 22-28-27](https://user-images.githubusercontent.com/55639487/79074951-1cd52900-7d0d-11ea-98e5-19680c0acca7.png)

Browser: Firefox

[2020-04-12 17:19] ashishnagpal2498 opened #309 "Error in css files in new build"
I just took latest pull from upstream and it show error in css files.
![image](https://user-images.githubusercontent.com/36301481/79075318-bbfb2000-7d0f-11ea-8de4-a179ca38a1fc.png)

**Priority**
Can i fix this @anushbhatia @smaranjitghose  ?

[2020-04-12 17:22] minolipvartak commented on #34
<meta name="application-name" content="GirlScript Foundation | Chennai Chapter">
<meta name="author" content="GirlScript Chennai">
<meta name="msapplication-tooltip" content="GirlScript Chennai is a website for the Chennai Chapter that showcases events and opportunities in Chennai.">
<meta name="apple-mobile-web-app-title" content="GirlScript Foundation | Chennai Chapter">
<meta name="og:site_name

[2020-04-12 17:34] #309 closed

[2020-04-12 18:49] shreyakapoor08 commented on #308
@anushbhatia The whole code has been disoriented, and that is why the footer along with the whole website is messed.

[2020-04-12 19:08] #308 closed

[2020-04-12 19:08] #286 closed

[2020-04-13 05:31] aashimgarg opened #314 "Blog page content issues."
As we resize the window the content we start to loose the content. Instead we can use overflow property for this.

What is your opinion @anushbhatia @smaranjitghose

[2020-04-13 05:33] aashimgarg commented on #314
![Screenshot from 2020-04-13 11-01-39](https://user-images.githubusercontent.com/55639487/79094812-5130ff80-7d76-11ea-8ccd-f8ef91a96d7e.png)

![Screenshot from 2020-04-13 11-02-20](https://user-images.githubusercontent.com/55639487/79094822-5aba6780-7d76-11ea-9e28-0e8eb8c3b0a3.png)

[2020-04-13 06:04] goyalmuskan opened #315 "Fix achievements page"
![16EBFAFF-C35E-44DF-B0FA-7A2308F6E13B](https://user-images.githubusercontent.com/47412347/79096413-be469400-7d7a-11ea-898d-d566c59b8e95.png)

[2020-04-13 06:53] #315 closed

[2020-04-13 09:02] anushbhatia commented on #34
Go ahead
Give a pr

[2020-04-13 09:39] #288 closed

[2020-04-13 13:58] anushbhatia commented on #314
We have used the medium's function u can use overflow but then it will cause a change in the style.

[2020-04-13 14:00] anushbhatia commented on #301
Already #258 exists

[2020-04-13 14:00] #301 closed

[2020-04-13 14:01] #253 closed

[2020-04-13 14:03] #287 closed

[2020-04-13 14:30] shreyakapoor08 opened #322 "Nav Bar Issue"
While opening the website, in the start the navbar do not point to the home page unless we navigate to some other page.
![image](https://user-images.githubusercontent.com/31164665/79128544-51a2b800-7dc1-11ea-98a5-5515b76e8bc5.png)

@smaranjitghose @anushbhatia  Can I work on it ?

[2020-04-13 14:44] shreyakapoor08 opened #324 "Responsive Our Team"
In small screen the images are not aligned
![image](https://user-images.githubusercontent.com/31164665/79129688-4badd680-7dc3-11ea-85c4-de5f5dd3ee22.png)

![image](https://user-images.githubusercontent.com/31164665/79129725-5a948900-7dc3-11ea-8915-2345a76f81aa.png)

@smaranjitghose @anushbhatia Can I work on it?

[2020-04-13 16:44] Adyasha8105 opened #325 "Responsive Footer"
I want to make the footer responsive.
![2020-04-13 (18)](https://user-images.githubusercontent.com/54095539/79139494-0c3bb600-7dd4-11ea-8dcc-9b49489e99ec.png)

[2020-04-13 16:45] Adyasha8105 commented on #325
@anushbhatia @smaranjitghose Assign this task to me?

[2020-04-13 18:29] Kuljeet-123 commented on #259
@smaranjitghose Can I work on this issue??

[2020-04-13 18:32] Kuljeet-123 commented on #325
@smaranjitghose Can I work on this issue??

[2020-04-13 18:54] #302 closed

[2020-04-13 18:56] #300 closed

[2020-04-13 19:04] smaranjitghose commented on #259
@Aman-Codes just give the PR for it, I'll edit it

[2020-04-13 19:05] smaranjitghose commented on #259
@

[2020-04-13 19:05] #259 closed

[2020-04-14 01:16] #325 closed

[2020-04-14 02:33] Kashish-max commented on #324
Sir I would like to work on this issue, please assign this to me.

[2020-04-14 08:24] Adyasha8105 opened #334 "Responsive and modified contact page"
I just want to change the design of the contact page.

[2020-04-14 08:41] Kashish-max commented on #324
I unassigned myself by mistake please reassign

[2020-04-14 08:58] aashimgarg opened #335 "Adding the dark mode toggle switch."
**Description of the enhancement**
Nowadays this feature is becoming more and more popular. I think we should also have and it will be good for the website.

@anushbhatia @smaranjitghose  what are your views.

[2020-04-14 09:11] anushbhatia commented on #335
Add the button in footer or navbar

[2020-04-14 09:15] aashimgarg commented on #335
Ok @anushbhatia .

[2020-04-14 10:20] aashimgarg opened #338 "A full screen navigation in mobile view."
**Description of the enhancement**
A full screen slide down navigation in the mobile view for going to the contents.
This will be usefull.

What are your views @anushbhatia @smaranjitghose ?

**Screenshots**
Screenshots of the proposed changes compared with the current version of the project

[2020-04-14 11:05] #285 closed

[2020-04-14 14:18] #322 closed

[2020-04-14 14:19] #324 closed

[2020-04-14 14:33] smaranjitghose commented on #241
I guess this is done. So this is closed

[2020-04-14 14:33] #241 closed

[2020-04-14 14:37] Kashish-max commented on #290
I want to work on this issue. Please assign me this issue.

[2020-04-14 15:17] #334 closed

[2020-04-14 19:14] Adyasha8105 opened #342 "Responsive Contact page"
I want to make the CONTACT page responsive.

[2020-04-14 19:17] anushbhatia commented on #338
Can you share some video for it

[2020-04-15 08:43] Kashish-max commented on #342
I want to resolve this issue. please assign me this issue

[2020-04-15 09:05] #342 closed

[2020-04-15 11:55] Kashish-max opened #346 "Bounce Achievement"
![Screenshot (87)](https://user-images.githubusercontent.com/53968505/79334193-73c14500-7f3d-11ea-97e7-5540dfe1f2c1.png)

Achievement 1 card isn't bouncing.

I want to resolve this.

[2020-04-15 12:04] Kashish-max commented on #303
Sir May I also work on this?

[2020-04-15 14:37] Adyasha8105 opened #348 "Responsive Navbar"
Here while opening the navbar, It hides the upper content part of the page.
![2020-04-15](https://user-images.githubusercontent.com/54095539/79350148-b7737900-7f54-11ea-9bb6-8f424d134cc0.png)

[2020-04-15 15:03] #348 closed

[2020-04-15 17:28] shreyakapoor08 opened #353 "Contact us changes"
**Description
Captcha field is irrelevant. It is usually added in signup pages not in contact us

**Screenshots**
![Screenshot_2020-04-15-22-56-42-186_com android chrome](https://user-images.githubusercontent.com/31164665/79368149-9159d300-7f6c-11ea-9086-6a3064e90f2f.jpg)

@smaranjitghose can I work on it

[2020-04-15 17:30] shreyakapoor08 opened #354 "Home Page our initiative section"
**Description
Know more button is not required in our initiative section.

**Screenshots**
![Screenshot_2020-04-15-22-59-38-991_com android chrome](https://user-images.githubusercontent.com/31164665/79368401-eeee1f80-7f6c-11ea-8f89-d4d26911bd8e.jpg)

@smaranjitghose can I work on this

[2020-04-15 17:34] shreyakapoor08 opened #355 "Announcement Page improvement"
**Description of the enhancement**
cards do not have proper css and it is looking improper .
**Screenshots**
![Screenshot_2020-04-15-23-02-20-935_com android chrome](https://user-images.githubusercontent.com/31164665/79368659-5efca580-7f6d-11ea-8935-243dfef8a373.jpg)

@smaranjitghose can i work on this

[2020-04-15 17:36] shreyakapoor08 opened #356 "Achievement section"
**Description of the enhancement**
Dummy content to be replaced with actual content

**Screenshots**
Screenshots of the proposed changes compared with the current version of the project
![Screenshot_2020-04-15-23-05-36-727_com android chrome](https://user-images.githubusercontent.com/31164665/79368874-ba2e9800-7f6d-11ea-8fa5-c28be41db00b.jpg)

@smaranjitghose can i work on it?

[2020-04-15 17:40] goyalmuskan commented on #355
@shreyakapoor08 I am working on it.

[2020-04-15 17:42] #355 closed

[2020-04-15 17:45] shreyakapoor08 opened #357 "Team Page Enhancement"
**Description
Heading is not properly aligned

**Screenshots**
Screenshots of the proposed changes compared with the current version of the project
![Screenshot_2020-04-15-23-13-59-319_com android chrome](https://user-images.githubusercontent.com/31164665/79369651-ec8cc500-7f6e-11ea-9dc4-8830fad56011.jpg)

@smaranjitghose  can i work on it?

[2020-04-15 19:10] ashishnagpal2498 commented on #263
Can I start working on this now @smaranjitghose ?

[2020-04-16 07:05] csharp489 opened #360 "Add Code_of_conduct.md"
We need to add Code_Of_Conduct.md file. As a gssoc participant, I would like to add a Code_of_conduct.md file in this project.
Please assign me this task @smaranjitghose .

[2020-04-16 08:50] anushbhatia commented on #303
it's been 4 days now @goyalmuskan now I will assign it to @Kashish-max

[2020-04-16 08:54] goyalmuskan commented on #303
Sorry, I was busy with a personal project. It's fine, @Kashish-max can work. 👍🏻

[2020-04-16 08:54] anushbhatia commented on #353
to stop bots from filling forms it is necessary

[2020-04-16 08:54] #353 closed

[2020-04-16 10:57] #314 closed

[2020-04-16 11:00] aashimgarg commented on #338
![Screenshot from 2020-04-16 16-28-48](https://user-images.githubusercontent.com/55639487/79448699-8439f400-7fff-11ea-9247-008399615b5b.png)

we can do something like this.

[2020-04-16 12:33] Kashish-max opened #363 "Use of better fonts"
Upgradation of Font is needed on every page. As I'm learning Graphic designing I think I could do this job.

 Can I work on this issue?

[2020-04-16 16:52] #354 closed

[2020-04-16 16:52] #356 closed

[2020-04-16 16:53] #357 closed

[2020-04-16 16:57] #303 closed

[2020-04-17 09:15] anushbhatia commented on #338
sure go-ahead

[2020-04-17 10:35] #360 closed

[2020-04-17 11:21] #258 closed

[2020-04-17 11:42] anushbhatia commented on #363
Drogowskaz
Futura
Selawik
Gotham
Montserrat
Source Sans Pro
Proximal nova
Poppins

[2020-04-17 19:05] anushbhatia opened #373 "Dark Mode Bugs"
![1587150230399](https://user-images.githubusercontent.com/40017559/79604831-732ad900-810c-11ea-817d-e84b9c0cf6c6.png)
Try solving this issue

[2020-04-17 19:33] aashimgarg commented on #373
I am working on this @anushbhatia

[2020-04-17 19:33] aashimgarg commented on #373
i added the darkMode for the index page only..

[2020-04-18 04:36] Kashish-max commented on #363
Sir these are suggestions or you want me to use fonts among these only?

[2020-04-18 06:19] Adyasha8105 commented on #373
@anushbhatia Can I work on Team page ???

[2020-04-18 06:23] aashimgarg commented on #373
I am on the pages.

[2020-04-18 06:35] anushbhatia commented on #373
Distribute pages among urself

[2020-04-18 06:36] anushbhatia commented on #363
these are suggestions but if u want to give a new font just tell me the name before using it.

[2020-04-18 06:44] anushbhatia opened #375 "Creating A Minimal NavBar"
**Description of the enhancement**
Use of smaller navbar size as it covers the major part of the screen.
Use subtle colours for it.

[2020-04-18 06:45] Adyasha8105 commented on #375
can i?

[2020-04-18 06:46] Kashish-max commented on #363
ok

[2020-04-18 06:47] Adyasha8105 commented on #373
Please reassign me as he wants to work on this himself only.

[2020-04-18 16:00] anushbhatia opened #379 "Announcement Page Bugs"
![Announcements - Google Chrome 18-04-2020 21_28_19](https://user-images.githubusercontent.com/40017559/79642540-ad06e880-81bb-11ea-869f-de92f9ee503f.png)
Spacing between Recent Events and upcoming events.

[2020-04-18 16:02] anushbhatia commented on #290
What all changes you want to make

[2020-04-18 16:54] shreyakapoor08 commented on #379
can I do this @anushbhatia ?

[2020-04-18 18:27] anushbhatia commented on #379
Go ahead

[2020-04-18 21:08] shreyakapoor08 opened #385 "Team Page correction"
**Description of the enhancement**
Show all button is not required here

**Screenshots**
Screenshots of the proposed changes compared with the current version of the project
![image](https://user-images.githubusercontent.com/31164665/79671268-dd17b100-81e6-11ea-9b71-73d3672b6bff.png)

[2020-04-19 08:48] #379 closed

[2020-04-19 10:19] shreyakapoor08 opened #389 "Announcement Page alignment"
**Description of the enhancement**
Headings of card are not centrally aligned

**Screenshots**
Screenshots of the proposed changes compared with the current version of the project
![image](https://user-images.githubusercontent.com/31164665/79685293-5817b080-8255-11ea-9cd6-ac93051db20b.png)

[2020-04-19 11:05] #385 closed

[2020-04-19 13:12] #375 closed

[2020-04-19 14:39] #389 closed

[2020-04-19 14:40] shreyakapoor08 opened #390 "Announcement Page Cards"
**Description of the enhancement**
Unwanted space in these cards

**Screenshots**
Screenshots of the proposed changes compared with the current version of the project
![image](https://user-images.githubusercontent.com/31164665/79690770-c2424c80-8279-11ea-90cc-982ac0f5521e.png)

[2020-04-19 14:52] #390 closed

[2020-04-19 15:28] Adyasha8105 opened #391 "Deleting all the Borders"
There should be a **border** on every page.

**Screenshot:**
![2020-04-19 (15)](https://user-images.githubusercontent.com/54095539/79692009-4f889f80-8280-11ea-8227-a6c54bf029c7.png)

[2020-04-19 16:45] anushbhatia commented on #391
Remove borders from everywhere it doesn't look good

[2020-04-19 18:59] Adyasha8105 commented on #391
I have to remove borders from everywhere

[2020-04-19 19:06] Samiksha99 commented on #391
assign me this task

[2020-04-19 19:39] #391 closed

[2020-04-19 19:41] anushbhatia opened #394 "Have round card after carousel in home page"
![1587324669721](https://user-images.githubusercontent.com/40017559/79698037-d438e500-82a3-11ea-8326-97bdcb6ec1fe.png)
Card like this

[2020-04-19 19:41] Adyasha8105 commented on #394
Can I?

[2020-04-20 03:52] #346 closed

[2020-04-20 09:24] Kashish-max opened #400 "contactUs White Space"
White Space on mobile view -- contactUs page --

![bug contact](https://user-images.githubusercontent.com/53968505/79736018-ccfeef00-8316-11ea-801f-7ac78af7c8c5.jpg)

[2020-04-20 10:33] #291 closed

[2020-04-20 10:49] anushbhatia opened #404 "Achievements Page bug with hover effect"
![1587379597516](https://user-images.githubusercontent.com/40017559/79743667-96c76c80-8322-11ea-987c-84cd61a2db51.png)

[2020-04-20 10:58] aashimgarg commented on #404
i want too work on this! @anushbhatia

[2020-04-20 11:10] shreyakapoor08 opened #405 "Announcement Page cards"
**Description
Content is touching the line
**Screenshots**
Screenshots of the proposed changes compared with the current version of the project
![Screenshot_2020-04-20-16-39-15-643_com android chrome](https://user-images.githubusercontent.com/31164665/79745278-9bd9eb00-8325-11ea-9d25-a2d31e96deff.jpg)

[2020-04-20 11:10] shreyakapoor08 commented on #405
Can I work on it

[2020-04-20 11:15] shreyakapoor08 opened #406 "Contact us page bug"
**Description of the enhancement**
Captcha overlapping the div
**Screenshots**
![Screenshot_2020-04-20-16-43-01-427_com android chrome](https://user-images.githubusercontent.com/31164665/79745694-6386dc80-8326-11ea-9989-4346e3c266b2.jpg)

[2020-04-20 11:16] shreyakapoor08 commented on #406
captcha overlapping the div

[2020-04-20 11:20] anushbhatia commented on #405
Change the images too

[2020-04-20 11:23] shreyakapoor08 commented on #405
sure :)

[2020-04-20 11:25] shreyakapoor08 opened #407 "Styling the FAQ section"
**Screenshots**
Screenshots of the proposed changes compare

[2020-04-20 11:28] shreyakapoor08 opened #408 "Home Page correction"
**Description of the enhancement**
Content is not properly visible

**Screenshots**
Screenshots of the proposed changes compared with the current version of the project
![image](https://user-images.githubusercontent.com/31164665/79746651-f70cdd00-8327-11ea-9ec6-ed8f6efdf889.png)

[2020-04-20 11:28] shreyakapoor08 commented on #408
can i work on it

[2020-04-20 11:28] shreyakapoor08 commented on #407
can i work on it

[2020-04-20 11:32] shreyakapoor08 opened #409 "Footer bug"
**Description of the enhancement**
Some content is visible below the footer in contact us page

**Screenshots**
Screenshots of the proposed changes compared with the current version of the project
![image](https://user-images.githubusercontent.com/31164665/79747115-c2e5ec00-8328-11ea-9f46-b448e497a7de.png)

[2020-04-20 11:33] shreyakapoor08 commented on #409
can I work on it

[2020-04-20 11:34] shreyakapoor08 opened #410 "Blog section responsive"
**Description of the enhancement**
The content is touching the boundaries in mobile view

**Screenshots**
Screenshots of the proposed changes compared with the current version of the project
![image](https://user-images.githubusercontent.com/31164665/79747257-fcb6f280-8328-11ea-84da-42e6aef45ac7.png)

[2020-04-20 11:34] shreyakapoor08 commented on #410
can I work on it

[2020-04-20 11:35] shreyakapoor08 opened #411 "Achievement page bug"
**Description of the enhancement**
Excessive space on the top

**Screenshots**
Screenshots of the proposed changes compared with the current version of the project
![image](https://user-images.githubusercontent.com/31164665/79747377-30921800-8329-11ea-9932-00e3176c168f.png)

[2020-04-20 11:36] shreyakapoor08 commented on #411
can i work on it

[2020-04-20 11:38] goyalmuskan commented on #407
May I work on this? @anushbhatia @smaranjitghose

[2020-04-20 11:39] shreyakapoor08 commented on #407
@goyalmuskan I have created the issue and will be working on it :)

[2020-04-20 11:44] #407 closed

[2020-04-20 11:45] shreyakapoor08 opened #412 "Restyling FAQ"
*Screenshots of the proposed changes compared with the current version of the project
![image](https://user-images.githubusercontent.com/31164665/79746513-ba40e600-8327-11ea-9023-497d7d87d3b3.png)

[2020-04-20 11:46] shreyakapoor08 commented on #412
@anushbhatia Can i work on it

[2020-04-20 12:04] Kashish-max opened #414 "Styling Event Page"
Improving and Styling event page
![Screenshot (118)](https://user-images.githubusercontent.com/53968505/79749469-e90d8b00-832c-11ea-9a83-f999741bc158.png)
![Screenshot (119)](https://user-images.githubusercontent.com/53968505/79749472-ea3eb800-832c-11ea-8b6d-0e24ae744d7e.png)

and making corrections on different resolutions

![Screenshot (120)](https://user-images.githubusercontent.com/53968505/79

[2020-04-20 12:04] Kashish-max commented on #414
Can I work on this?

[2020-04-20 12:34] smaranjitghose commented on #408
Sure!

[2020-04-20 12:49] smaranjitghose commented on #409
Try to put the toggle for dark mode on the side. It's taking up unnecessary space

[2020-04-20 14:22] YaminiShrestha31 commented on #412
please assign this to me

[2020-04-20 14:30] goyalmuskan commented on #414
May I work on this? @anushbhatia

[2020-04-20 14:32] anurajbhandari5 commented on #412
can you assign me?

[2020-04-20 14:34] ashishnagpal2498 commented on #409
This has been corrected in latest code.

[2020-04-20 15:29] #411 closed

[2020-04-20 15:40] Adyasha8105 commented on #406
Can I do this part @anushbhatia ? as I was working on it?

[2020-04-20 15:46] #410 closed

[2020-04-20 15:55] #406 closed

[2020-04-20 16:11] Muskan-Mangal opened #427 "Snowfall animation Home page"
**Description of the enhancement**
The snowfall animation on the home page "Our Achievements" section is a shifted upwards.

**Screenshots**
![Screenshot from 2020-04-20 21-35-35](https://user-images.githubusercontent.com/33172345/79775033-41568400-8351-11ea-8fa6-ff5846042667.png)

[2020-04-20 16:15] Muskan-Mangal commented on #427
@smaranjitghose please assign this issue to me.

[2020-04-20 16:21] Muskan-Mangal opened #428 "Transparency of welcome to block"
**Description of the enhancement**
The black box on the home page stating "welcome to..." is irrelevant. It would look much better if we increase it transparency.

**Screenshots**
![Screenshot from 2020-04-20 21-46-55](https://user-images.githubusercontent.com/33172345/79774738-d73ddf00-8350-11ea-891a-ef3333319b85.png)

[2020-04-20 16:21] Muskan-Mangal commented on #428
@smaranjitghose  please assign it to me!

[2020-04-20 16:27] Adyasha8105 opened #429 "New Logo For footor"
**Description of the enhancement**
I want to make a new logo in Illustrator for the footer as the black text is not looking good.

**Screenshots**
![2020-04-20 (13)](https://user-images.githubusercontent.com/54095539/79775478-ee310100-8351-11ea-848d-19f445a2d3e9.png)

[2020-04-20 16:38] smaranjitghose commented on #429
Sure!

[2020-04-20 17:08] anushbhatia commented on #428
before making a pr just message me on slack I will recommend you changes.

[2020-04-20 17:28] #409 closed

[2020-04-20 18:59] Muskan-Mangal commented on #427
@anushbhatia @smaranjitghose sir, there isn't any snowfall animation in the local copy of this on my pc. Is the repo fully updated?
![Screenshot from 2020-04-21 00-24-42](https://user-images.githubusercontent.com/33172345/79788794-d31cbc00-8366-11ea-8823-568ab8cf2f54.png)

[2020-04-20 19:21] Muskan-Mangal opened #435 "Font color related issue"
**Description of the enhancement**
because of the choosen color of font, what is written at the filp box isn't even visible properly in Join us section.
**Screenshots**
![Screenshot from 2020-04-21 00-49-06](https://user-images.githubusercontent.com/33172345/79791026-44aa3980-836a-11ea-8686-a51195d97309.png)

[2020-04-20 19:22] Muskan-Mangal commented on #435
@anushbhatia assign this to me please.

[2020-04-20 19:31] #408 closed

[2020-04-20 19:42] #400 closed

[2020-04-20 19:43] Kashish-max commented on #435
I am already working on this issue

[2020-04-20 19:46] smaranjitghose commented on #435
It's resolved already.
You can do something if you wish:
- Change the content from AI,Machine Learning,Competitive Programming to:
       1. Internet of Things
       2. Machine Leaning
       3. Web Development
[Create 3 more below for]
       4. Cloud Computing
       5. Cyber security
       6. Robotics

The current images are quite monotonous and don't do justice to the content, make appropria

[2020-04-20 19:46] Muskan-Mangal commented on #435
@Kashish-max alryt!  No problem :)

[2020-04-20 19:47] Muskan-Mangal commented on #435
@smaranjitghose  should I work on ur suggestion after opening it as an issue?

[2020-04-20 19:51] smaranjitghose commented on #427
![snow_fall](https://user-images.githubusercontent.com/46641503/79793337-06167e00-836e-11ea-9501-b578dba0924a.jpg)

- Make sure your local repo is at par with this upstream one.
- Also, since this website is hosted on netlify, check from the link in the README if required.
- the snow animation bug is the secondary, firstly the image in the background is split and needs to fixed .

[2020-04-20 20:28] #412 closed

[2020-04-20 20:35] #428 closed

[2020-04-20 20:37] #429 closed

[2020-04-20 20:43] Muskan-Mangal opened #438 "Move to top arrow"
**Description of the enhancement**
there's move to top option indicated by an arrow button ,It needs to be displayed only when we reach end of page

**Screenshots**
![Screenshot from 2020-04-21 02-12-21](https://user-images.githubusercontent.com/33172345/79797832-9c01d700-8375-11ea-8883-9ed2a2fca905.png)
 It is visible even on the first appearance of home page.

[2020-04-20 20:44] Muskan-Mangal commented on #438
I am working on this issue! @smaranjitghose  @anushbhatia  please assign it to me.

[2020-04-20 22:03] #405 closed

[2020-04-20 23:00] smaranjitghose opened #442 "Remove the dark mode togglebutton from footer and place it somewhere else."
![dark_mode button](https://user-images.githubusercontent.com/46641503/79807510-b5f8e500-8388-11ea-89bb-bf5d750e4af1.jpg)

[2020-04-20 23:01] smaranjitghose opened #443 "Dark Mode button"
![dark_mode button](https://user-images.githubusercontent.com/46641503/79807510-b5f8e500-8388-11ea-89bb-bf5d750e4af1.jpg)

- Remove the dark mode toggle button from footer and place it somewhere else.  Try to change to a new design for the button itself

[2020-04-20 23:03] #442 closed

[2020-04-21 05:02] aashimgarg commented on #443
i want to work on this.

[2020-04-21 06:05] Muskan-Mangal opened #445 "Change the images in the "chance to learn" section"
**Description of the enhancement**
Change the images in the "chance to learn" section. As @smaranjitghose sir said they don't do justice to the content.
**Screenshots**
![Screenshot from 2020-04-21 11-34-24](https://user-images.githubusercontent.com/33172345/79830934-15c0b180-83c4-11ea-9b83-0c3bbdbed152.png)

[2020-04-21 06:12] Muskan-Mangal commented on #445
@anushbhatia  @smaranjitghose I want to work on this issue.

[2020-04-21 07:42] #445 closed

[2020-04-21 07:57] #404 closed

[2020-04-21 07:59] Adyasha8105 commented on #443
may I?

[2020-04-21 08:49] Muskan-Mangal commented on #427
yeah okay!

[2020-04-21 09:40] ashishnagpal2498 opened #446 "Dark Mode - Persist"
**Dark mode feature**
Once a user selects dark mode, it should persist throughout the project, until and unless the user changes it.

**Replicate**
1) Switch to dark mode.
2) Go to some other tab.

I would like to work on this issue.

[2020-04-21 09:44] ashishnagpal2498 opened #447 "Captcha Field Correction"
Captcha Field does not match with other input fields.
![image](https://user-images.githubusercontent.com/36301481/79851298-bb831900-83e2-11ea-96f5-cbd890f6474e.png)

[2020-04-21 11:58] goyalmuskan opened #450 "Redesign FAQ Section of Events Page"
May I work on this? @smaranjitghose @anushbhatia

[2020-04-21 12:40] #443 closed

[2020-04-21 13:08] Adyasha8105 opened #451 "Redesign the Logo"
I just want to redesign the logo present at the footer using an illustrator ( i.e the font and the color).

[2020-04-21 14:08] Adyasha8105 opened #453 "Recent events image"
**Description of the enhancement**
The clarity of the image is not good and some pictures are not properly set.

**Screenshots**
![2020-04-21 (13)](https://user-images.githubusercontent.com/54095539/79875420-437b1a00-8407-11ea-8e6f-945d349e9877.png)

[2020-04-21 14:39] #451 closed

[2020-04-21 15:16] shreyakapoor08 opened #455 "BUG: Event Page link is broken"
**Description of the enhancement**
Event page link is broken and shows page not found

**Screenshots**
Screenshots of the proposed changes compared with the current version of the project
![image](https://user-images.githubusercontent.com/31164665/79883175-37945580-8411-11ea-98c7-86a1fab3ca64.png)

[2020-04-21 15:21] shreyakapoor08 opened #456 "BUG: Header"
**Description of the enhancement**
1. Toggle button is not responsive
2. The color of the switch is merging with the background

**Screenshots**
Screenshots of the proposed changes compared with the current version of the project
![image](https://user-images.githubusercontent.com/31164665/79883548-ae315300-8411-11ea-88fc-d563f6bad448.png)

[2020-04-21 16:25] #455 closed

[2020-04-21 16:35] #435 closed

[2020-04-21 17:08] YaminiShrestha31 commented on #363
please assign me this

[2020-04-21 17:17] shreyakapoor08 opened #459 "BUG: We create trends cards"
**Description of the enhancement**
In mobile while clicking on the cards it redirects to the top of the page instead of showing the text

**Screenshots**
Screenshots of the proposed changes compared with the current version of the project
![image](https://user-images.githubusercontent.com/31164665/79893678-040df700-8422-11ea-8e3c-837fb955578d.png)

[2020-04-21 17:21] shreyakapoor08 opened #460 "Achievement section button"
**Description of the enhancement**
Button is not required here

**Screenshots**
Screenshots of the proposed changes compared with the current version of the project
![image](https://user-images.githubusercontent.com/31164665/79894166-aded8380-8422-11ea-977b-2b034619f41e.png)

[2020-04-21 17:59] Kashish-max commented on #459
Text appears on hover I guess this is because there is no hover effect in mobile

[2020-04-21 18:06] shreyakapoor08 commented on #459
yes @Kashish-max , that is happening because there is no hover effect so when you click on the card in mobile it redirects to the top of the page which should not happen. :)

[2020-04-21 18:56] Swadesh13 commented on #447
Is this issue open for everyone ? Then I would like to work on it.
![Contact Us - Google Chrome 22-04-2020 00_21_45 (2)](https://user-images.githubusercontent.com/59609488/79902962-ee073300-842f-11ea-9ed0-d7c18f4d9846.png)

[2020-04-21 20:03] #453 closed

[2020-04-21 20:10] #459 closed

[2020-04-21 20:11] #460 closed

[2020-04-21 20:15] #456 closed

[2020-04-21 20:16] anushbhatia commented on #447
Center align the captcha

[2020-04-21 20:17] anushbhatia commented on #446
great Idea execute this well !!

[2020-04-21 20:17] #335 closed

[2020-04-21 20:18] shreyakapoor08 opened #463 "Content for the following"
**Description
removal of dummy content and adding new content

**Screenshots**
Screenshots of the proposed changes compared with the current version of the project
![Screenshot_2020-04-22-01-47-36-737_com android chrome](https://user-images.githubusercontent.com/31164665/79909899-5f98ae80-843b-11ea-98f8-1a9c18a47003.jpg)

@anushbhatia @smaranjitghose  Can I do this?

[2020-04-22 06:51] Adyasha8105 opened #464 "Responsive recent event"
**Description of the enhancement**
I want to make the page responsive and change the color of the text in dark mode.

**Screenshots**
![2020-04-22](https://user-images.githubusercontent.com/54095539/79949778-b500aa00-8493-11ea-99b7-525b88c676cd.png)

[2020-04-22 07:27] Adyasha8105 commented on #453
@shreyakapoor08  Am talking about the clarity, quantity and the edges of this image.

[2020-04-22 07:46] Dorson commented on #446
I had the same issue and coded a working solution.

Works with one and same CSS file + basic JavaScript functions for the switch and color settings memory recall on load.

Here is the GitHub Demo page :

https://dorson.github.io/CSS-Dark-Mode-and-color-switch/

Feel free to copy, fork, adopt, port, etc...

[2020-04-22 08:42] aashimgarg commented on #447
pull the latest commit bro.

[2020-04-22 11:03] ashishnagpal2498 commented on #447
How come any1 is working on the issue ?

[2020-04-22 14:26] #446 closed

[2020-04-22 14:28] #464 closed

[2020-04-22 14:40] #438 closed

[2020-04-22 15:39] Adyasha8105 opened #468 "Dark mode enhancement"
**Description of the enhancement**
I want to redesign the dark theme page by page.

[2020-04-22 16:45] aashimgarg opened #471 "Adding the timeline for the upcoming events."
**Description of the enhancement**
Add the timeline for the upcoming events will be a better choice.

[2020-04-22 16:46] aashimgarg commented on #471
Like we can implemement this..

https://www.google.com/imgres?imgurl=https://cdn.dribbble.com/users/883236/screenshots/6319003/day_808_timeline_ui_design-.png&imgrefurl=https://dribbble.com/shots/6319003-Timeline-UI-Design&tbnid=HQaUoAP2_i51fM&vet=1&docid=YYyc8Ac-jyR0ZM&w=800&h=600&q=dribbble+timeline&source=sh/x/im

[2020-04-22 16:47] aashimgarg commented on #471
@anushbhatia what are your views?

[2020-04-22 17:07] Muskan-Mangal opened #472 "No Scroll to top button"
**Description of the enhancement**
There is no scroll to top button in  Announcement pages. It's not that log right now but it may go long . there should be one.

**Screenshots**
![Screenshot from 2020-04-22 22-36-33](https://user-images.githubusercontent.com/33172345/80011651-c8d6fb00-84e9-11ea-9a40-d23cf54c5db5.png)

[2020-04-22 17:07] Muskan-Mangal commented on #472
I am working on this issue @smaranjitghose @anushbhatia. Please assign it to me

[2020-04-22 17:22] #363 closed

[2020-04-22 18:01] smaranjitghose commented on #468
@anushbhatia Wil guide you with this.
Do it one page at a time!

[2020-04-22 18:19] #472 closed

[2020-04-22 18:32] Muskan-Mangal opened #474 "BUG: with toggle button"
**Description of the enhancement**
When toggles to dark mode , the heading in black mixes with the background

**Before toggling**

![Screenshot from 2020-04-23 00-00-51](https://user-images.githubusercontent.com/33172345/80019709-8f0bf180-84f5-11ea-8fb2-14251adf1ed4.png)
**Dark mode**

![Screenshot from 2020-04-23 00-01-05](https://user-images.githubusercontent.com/33172345/80019767-a3e88500-84f5

[2020-04-22 18:41] Muskan-Mangal opened #475 "scroll to top button error in all of the pages almost"
**Description of the enhancement**
issue #438 still persist in many templates, which is that scroll to top btn is visible even if we haven't scrolled much. It should be visible only when wehave scrolled enough.

**Screenshots**
![Screenshot from 2020-04-23 00-11-13](https://user-images.githubusercontent.com/33172345/80020622-f9716180-84f6-11ea-8e9b-8b086c8dd589.png)
Even the logo is different in t

[2020-04-22 18:42] Muskan-Mangal commented on #475
@smaranjitghose i am working on it.

[2020-04-22 20:11] Adyasha8105 commented on #474
@Muskan-Mangal  I am already working on this #468 .

[2020-04-22 20:37] Adyasha8105 commented on #468
@smaranjitghose Okay, sir :)

[2020-04-22 21:05] anushbhatia commented on #474
wait for @Adyasha8105 to finish it

[2020-04-22 21:10] #475 closed

[2020-04-22 21:22] #373 closed

[2020-04-23 05:22] Muskan-Mangal commented on #474
@Adyasha8105 np! keep working :)

[2020-04-23 07:37] Muskan-Mangal opened #480 "Toggle problem in go to top button"
**Description of the enhancement**
On toggling to dark mode, goto top button style changes but it's not happening in our achievement template.
**Screenshots**
After toggling in achievement template
![Screenshot from 2020-04-23 13-01-01](https://user-images.githubusercontent.com/33172345/80072046-4e4ac180-8563-11ea-92c5-6ffffe732e27.png)

after toggling in other templates
![Screenshot from 2020-04-

[2020-04-23 07:38] Muskan-Mangal commented on #480
@Adyasha8105  , since you are working on toggling issue, I think you will be the best choice to handle this issue too. Look into this matter.

[2020-04-23 07:45] Muskan-Mangal opened #481 "Text color mathches with the background color"
**Description of the enhancement**
In Team template , text color and background color are almost a match.
It should be changed to white after toggling.

**Screenshots**
![Screenshot from 2020-04-23 13-09-20](https://user-images.githubusercontent.com/33172345/80072794-5eaf6c00-8564-11ea-9711-23a8a24104cc.png)

[2020-04-23 07:50] #447 closed

[2020-04-23 07:51] Muskan-Mangal commented on #481
same problem exists in achievement template.
![Screenshot from 2020-04-23 13-20-18](https://user-images.githubusercontent.com/33172345/80073405-5c014680-8565-11ea-8e35-3a14af64b496.png)

[2020-04-23 07:52] Muskan-Mangal commented on #481
this "projects by" should be white

[2020-04-23 07:55] Muskan-Mangal opened #482 "BUG : button not working"
**Description of the enhancement**
Button not working in articles of announcement template

**Screenshots**
This button
![Screenshot from 2020-04-23 13-24-27](https://user-images.githubusercontent.com/33172345/80073801-eb0e5e80-8565-11ea-855d-7200210b249e.png)

[2020-04-23 07:58] anushbhatia commented on #482
Go ahead

[2020-04-23 07:59] Adyasha8105 commented on #480
Okay sure @Muskan-Mangal .like I am working page by page.

[2020-04-23 08:00] anushbhatia commented on #474
Do one thing align it little above because it's not centrally aligned if u can customize this.

[2020-04-23 08:02] Muskan-Mangal commented on #474
okay I'll allign it! but why did u closed this issue. Is the toggle thing solved?

[2020-04-23 08:02] #394 closed

[2020-04-23 08:05] anushbhatia commented on #474
https://codepen.io/_Raunaq_/pen/wbRwea
This is or reference but u can have something simple too.

[2020-04-23 08:05] aashimgarg opened #483 ":feature: adding a svg animation."
**Description of the enhancement**
the full screen navigation page looks a bit empty so we can add an animation in the bottom right corner. Somewhat related to the website.

@anushbhatia your views..

[2020-04-23 08:16] Kashish-max opened #484 "Responsive Schedule part"
Sechedule part need to be made reponsive.
I'll make it responsive and remove bugs

[2020-04-23 14:25] Adyasha8105 commented on #481
@Muskan-Mangal I have already this issue.

[2020-04-23 15:29] Muskan-Mangal commented on #481
@Adyasha8105 yeah , I thought to mention you since u were already working on dark mode toggling thing. But I already tagged u in one. That's great thay you have solved that :)

[2020-04-23 17:57] shreyakapoor08 opened #491 "Navbar minor bug"
**Description of the enhancement**
Cursor should be pointer on the icon

**Screenshots**
![image](https://user-images.githubusercontent.com/31164665/80132859-f1c6c100-85b9-11ea-96f0-f23e484557ba.png)

[2020-04-23 18:19] shreyakapoor08 opened #492 "Removal of unused images from assets directory"
**Screenshots**
Screenshots of the proposed changes compared with the current version of the project
![image](https://user-images.githubusercontent.com/31164665/80134921-153f3b00-85bd-11ea-8534-e135f268602e.png)

[2020-04-23 18:40] aashimgarg opened #495 "timeline does not fit in mobile view."
**Description**
Will work on this.

**Screenshots**
Screenshots of the proposed changes compared with the current version of the project

[2020-04-23 19:11] Muskan-Mangal opened #497 "font color and background"
**Description of the enhancement**
in announcement pages problem still persist. after toggling not properly readable text.

**Screenshots**
Screenshots of the proposed changes compared with the current version of the project
![Screenshot from 2020-04-24 00-39-34](https://user-images.githubusercontent.com/33172345/80139587-4f600b00-85c4-11ea-808c-68c7cfda4a63.png)

[2020-04-23 19:12] Muskan-Mangal commented on #497
the border around dates should also become white after toggling

[2020-04-23 19:16] #471 closed

[2020-04-23 19:18] #492 closed

[2020-04-23 19:20] #491 closed

[2020-04-24 04:02] #481 closed

[2020-04-24 05:56] Adyasha8105 commented on #497
@Muskan-Mangal Like the changes happened recently so I have already changed it in my new PR.

[2020-04-24 05:58] Adyasha8105 commented on #482
@Muskan-Mangal I think this is not required now.

[2020-04-24 06:09] Muskan-Mangal commented on #482
Yeah apparently not👍

[2020-04-24 06:09] #482 closed

[2020-04-24 06:10] #497 closed

[2020-04-24 06:12] #480 closed

[2020-04-24 09:58] ashishnagpal2498 opened #501 "Dark mode contact us"
Label not visible.
![image](https://user-images.githubusercontent.com/36301481/80200439-4280fd00-8640-11ea-93c1-66956663bcfe.png)

[2020-04-24 09:59] anushbhatia opened #502 "Remove carousel from home page to better alternative"
Add an SVG or any animation on that page instead of carousel.

[2020-04-24 10:13] Adyasha8105 commented on #502
Can I try?

[2020-04-24 10:14] ashishnagpal2498 opened #503 "Achievement page buttons CSS"
- Buttons not centered
- Color code of button (red) does not match
![image](https://user-images.githubusercontent.com/36301481/80201839-5f1e3480-8642-11ea-8f1f-1c3a0abe5d6e.png)

[2020-04-24 10:19] Adyasha8105 commented on #484
@Kashish-max After your PR, I have to work on the dark mode of this page.

[2020-04-24 11:34] Adyasha8105 opened #504 "Event page Bug"
There is a scroll bar towards the x-axis which is not required.

[2020-04-24 11:44] aashimgarg commented on #502
I want to work on this.

[2020-04-24 11:58] Kashish-max commented on #504
I think the horizontal scroll you are talking about was due to unresponsive schedule part of event page .I was working for that in issue #484 and made a PR for that

[2020-04-24 12:44] anushbhatia commented on #502
you can use another carousel that's also ok but it should load faster

[2020-04-24 13:02] #504 closed

[2020-04-24 13:25] Adyasha8105 opened #507 "Bug in Announcement Page"
**Description of the enhancement**
The Timeline in upcoming events is not perfectly aligned.

**Screenshots**
![2020-04-24 (1)](https://user-images.githubusercontent.com/54095539/80217382-37889580-865d-11ea-8f6c-cb303cd36f51.png)

[2020-04-24 14:08] #484 closed

[2020-04-24 14:59] #507 closed

[2020-04-24 15:06] shreyakapoor08 opened #511 "Announcement page correction"
**Description of the enhancement**
Unwanted event cards and css improvement

**Screenshots**
Screenshots of the proposed changes compared with the current version of the project
![image](https://user-images.githubusercontent.com/31164665/80227422-36f6fb80-866b-11ea-91f9-03253016f22c.png)

[2020-04-24 20:43] #503 closed

[2020-04-25 08:37] aashimgarg opened #519 ":enhancement: the website using google automated tool."
**Description of the enhancement**
I will enhance the performance of the website by using the google automated tool **lighthouse audit**.
I will take the report and try to increase the web performance of the app.

**Screenshots**
Screenshots of the proposed changes compared with the current version of the project

[2020-04-25 08:45] #463 closed

[2020-04-25 11:05] #501 closed

[2020-04-25 11:16] anushbhatia commented on #511
Add links to the pages too

[2020-04-25 11:21] #483 closed

[2020-04-25 12:18] Kashish-max opened #521 "Achievement card bug"
Color does'nt match the background

![Screenshot (132)](https://user-images.githubusercontent.com/53968505/80279679-c6a8b280-871c-11ea-9eda-e78dde6240a8.png)

[2020-04-25 12:22] #495 closed

[2020-04-25 14:48] #521 closed

[2020-04-25 14:52] shreyakapoor08 opened #523 "Inspect error"
**Description of the enhancement**
Inspect is showing error

**Screenshots**
Screenshots of the proposed changes compared with the current version of the project
![image](https://user-images.githubusercontent.com/31164665/80283038-7dfbf400-8732-11ea-8d9e-1cc2c0c85b88.png)

[2020-04-25 15:21] aashimgarg opened #525 ":feature: svg wave animation for the footer."
**Description of the enhancement**
adding the svg wave animation for the footer.

[2020-04-25 16:39] #511 closed

[2020-04-25 16:41] #523 closed

[2020-04-26 03:00] Kashish-max opened #526 "Fix Text Shadow"
Fix text shadow in dark mode of event page
![Screenshot (135)](https://user-images.githubusercontent.com/53968505/80296367-0c569100-8798-11ea-90ed-98a65643e7a7.png)

[2020-04-26 05:13] Kashish-max opened #528 "Responsive Timeline bugs"
Timeline of announcement page have some bugs on page resizing. I've fixed all bugs and improved at some extent
![Screenshot (138)](https://user-images.githubusercontent.com/53968505/80298520-b7704600-87aa-11ea-9ead-5399c2470b5c.png)

[2020-04-26 05:34] #526 closed

[2020-04-26 05:36] Kashish-max opened #530 "Text Shadow bug"
Fix text shadow in dark mode of event page
![Screenshot (135)](https://user-images.githubusercontent.com/53968505/80298868-e6d48200-87ad-11ea-856d-c0e2c274689d.png)

[2020-04-26 06:52] Adyasha8105 opened #532 "Remodification of team page"
I want to work on the design of the team page.
It is divided into three parts:-

- First I will redesign the whole team page adding various features mostly similar to the Gssoc team page and also make it responsive.
- I will add Github, Linkedin URL of every member.
- Next, I will work on the dark mode enhancement of that page.

@anushbhatia Please assign this task to me and I will want to do this

[2020-04-26 09:39] abhu-A-J commented on #34
@anushbhatia Sir I'm interested as well. I want to start from index page

[2020-04-26 10:30] #530 closed

[2020-04-26 10:30] #528 closed

[2020-04-26 17:29] anushbhatia opened #536 "Enahncement of Our INITIATIVES"
Enhancement of Initiatives section
![1587921855455](https://user-images.githubusercontent.com/40017559/80314746-ecaf7f00-8810-11ea-8887-2c3bb50969db.png)

[2020-04-26 18:01] abhu-A-J commented on #536
Can I try? Also is there a design/mockup to follow?

[2020-04-26 18:39] anushbhatia commented on #536
No, you can just make it more appealing

[2020-04-26 22:13] aashimgarg commented on #519
![Screenshot from 2020-04-27 03-41-50](https://user-images.githubusercontent.com/55639487/80321233-1da3aa00-8839-11ea-9746-a0a6dd6a9202.png)

I think according to the report this has to be improved a lot.

[2020-04-27 05:36] Kashish-max opened #543 "Read More Bug"
Fix read more background bug and change font of card paragraph

![Screenshot (139)](https://user-images.githubusercontent.com/53968505/80337181-e227d080-8876-11ea-8745-85e0b77b369b.png)

[2020-04-27 06:10] #450 closed

[2020-04-27 07:18] Adyasha8105 opened #546 "Bug in blog page"
**Screenshots**
![2020-04-27 (10)](https://user-images.githubusercontent.com/54095539/80344572-6da85e00-8885-11ea-9646-351128f535f1.png)

[2020-04-27 10:23] ashishnagpal2498 opened #548 "header fix in responsive view"
**Bug**
- No header is viewed after scroll
- scrollFun error

**Screenshots**
![image](https://user-images.githubusercontent.com/36301481/80361767-1a430980-889f-11ea-84a1-efe4aec4d00f.png)

[2020-04-27 11:22] #543 closed

[2020-04-27 12:15] #525 closed

[2020-04-27 16:07] Adyasha8105 opened #550 "Bug in announcement page"
**Screenshots**

![2020-04-27 (19)](https://user-images.githubusercontent.com/54095539/80394281-44142480-88cf-11ea-89ff-54e80fcc2c8d.png)

[2020-04-27 17:04] #546 closed

[2020-04-27 17:07] #550 closed

[2020-04-27 17:14] anushbhatia opened #553 "Improvement of Footer in Dark Mode"

[2020-04-27 17:15] Adyasha8105 commented on #553
Can I?

[2020-04-27 18:36] smaranjitghose commented on #427
@Muskan-Mangal is this issue's work done?

[2020-04-27 18:37] smaranjitghose commented on #532
@Adyasha8105 try to add some hover effects to the team page

[2020-04-27 18:42] smaranjitghose commented on #263
I guess this issue is completed @ashishnagpal2498 or should I keep it open?

[2020-04-27 18:49] smaranjitghose opened #554 "Documentation of the project"
# __Exclusively use Sphinx for this__

We want a ```readthedocs``` format documentation website for this project. Check out the popular python packages like numpy,pandas,etc

The main page of the documentation should contain the details of the project,aim, and a list of contributors

Then Each section must tell anyone who has even no coding experience, which lines of code to change and where to pu

[2020-04-27 18:52] Muskan-Mangal commented on #427
I'm trying! I'll try to solve it till tomorrow more, if not done then u can unassign me. @smaranjitghose

[2020-04-27 19:03] Adyasha8105 commented on #554
Can I?

[2020-04-27 19:04] shreyakapoor08 commented on #554
@smaranjitghose I will work on it individually. Let me know when to start :)

[2020-04-27 19:08] smaranjitghose commented on #554
@shreyakapoor08 Definitely you can start off whenever you ready. But, the documentation would take time since we have to cover all of the pages so collaborate with @Adyasha8105 on this please.

[2020-04-27 19:09] shreyakapoor08 commented on #554
Got it 😊
@Adyasha8105 Can we connect over slack?

[2020-04-27 19:18] smaranjitghose commented on #427
Relax, take a couple of days more and try to contribute for this. Otherwise let me know.

[2020-04-27 20:53] aashimgarg opened #558 "wave section for the contactUS page."
**Description of the enhancement**
A part for the section is behaving differently in the ContactUS page.

**Screenshots**
Screenshots of the proposed changes compared with the current version of the project

[2020-04-27 21:33] aashimgarg opened #560 "darkMode :feat: (WAVE)"
**Description of the enhancement**
darkMode for the wave.

**Screenshots**
Screenshots of the proposed changes compared with the current version of the project

[2020-04-27 23:11] smaranjitghose opened #564 "Organize the assets folder"
Separate directories for:
- team members
- card carosels
- projects ,etc

[2020-04-27 23:15] aashimgarg commented on #564
i can work on that.

[2020-04-27 23:24] smaranjitghose opened #566 "Registration Form"
Instead of using Google Forms, have interactive and highly customizable form for events

[2020-04-27 23:37] aashimgarg commented on #566
For which page?

[2020-04-28 00:21] smaranjitghose commented on #554
@shreyakapoor08 @Adyasha8105  Please give all PRs for this to the ```gh-pages``` branch

[2020-04-28 00:27] smaranjitghose commented on #474
@Muskan-Mangal  When you give the PR, try to make use of the above toggle button

[2020-04-28 01:29] smaranjitghose opened #567 "Improvement on the Projects displayed (Bonus)"
# Description

- Accounting for the large number of participants in GirlScript Summer of Code'2020, the projects to be displayed on the Achievements Page itself are made open source for allowing more participants to contribute and cater to their diverse skillset

- This is a bonus issue and extends from the main project

- The list of the projects would be upgraded over time

- To keep this repo o

[2020-04-28 02:16] smaranjitghose opened #568 "(Bonus) Improvement of Projects for Achievements Page"
# Description

- Accounting for the large number of participants in GirlScript Summer of Code'2020, the projects to be displayed on the Achievements Page itself are made open source for allowing more participants to contribute and cater to their diverse skillset

- This is a bonus issue and extends from the main project

- The list of the projects would be upgraded over time

- To keep this repo o

[2020-04-28 02:41] smaranjitghose commented on #237
Push all changes to master. Make sure the documentation is synchronous with this!

[2020-04-28 02:58] smaranjitghose opened #569 "README and related tasks"
# Tasks

- [x] Create custom logo for the project with the text ```GirlScript Website Boilerplate```(Please do not use Canva 🙏)

- [x] Remove the Contribution guidelines from README and Update the [Contributing.MD](https://github.com/smaranjitghose/girlscript_chennai_website/blob/master/CONTRIBUTING.md)

        -  Use Relevant GIFs (from GIPHY) or Images (from Unsplash) to make it interactive

[2020-04-28 04:06] Kashish-max commented on #566
can I work on this ?

[2020-04-28 05:20] Muskan-Mangal opened #570 "Footer Home page"
**Description of the enhancement**
The footer in light mode looks very cool but in dark mode it looks so odd.

**Screenshots**
In light mode the color of footer matches with the animation, so it is really looking great but
![Screenshot from 2020-04-28 10-45-20](https://user-images.githubusercontent.com/33172345/80449769-9855ed80-893d-11ea-8025-a0ce5a99642c.png)

see here, color of footer differs f

[2020-04-28 06:13] Muskan-Mangal commented on #427
@smaranjitghose where do u want this snowfall animation to display exactly?
In the whole black section
![Screenshot from 2020-04-28 11-40-53](https://user-images.githubusercontent.com/33172345/80453176-5fba1200-8945-11ea-804c-1cc4d6593593.png)
or inside the our achievement container of this black section.
can u please high light the part so that i can adjust accordingly.

[2020-04-28 06:33] Adyasha8105 commented on #570
@Muskan-Mangal  Sir has already created an issue and I am working on it.

[2020-04-28 06:42] Adyasha8105 commented on #569
@smaranjitghose I will work on the first issue.

[2020-04-28 06:43] Aman-Codes commented on #569
@smaranjitghose I would like to work on the first task.
* Remove the Contribution guidelines from README and Update the Contributing.MD

[2020-04-28 06:44] Muskan-Mangal commented on #570
oh yeah okay! my bad :|

[2020-04-28 06:44] #570 closed

[2020-04-28 06:57] Muskan-Mangal commented on #553
@Adyasha8105 issue #560  is also same I guess.. claim u r working on it already there too.

[2020-04-28 06:59] Adyasha8105 commented on #560
@aashimgarg I am working on this issue.

[2020-04-28 06:59] Adyasha8105 commented on #553
Ya thanks :)

[2020-04-28 07:06] #560 closed

[2020-04-28 07:40] Adyasha8105 commented on #237
okay @smaranjitghose

[2020-04-28 09:17] #237 closed

[2020-04-28 09:35] #553 closed

[2020-04-28 10:52] Adyasha8105 commented on #569
@smaranjitghose I wan to work on the logo part.

[2020-04-28 12:17] anushbhatia opened #576 "Home Page Carousel Error"
![1588076219293](https://user-images.githubusercontent.com/40017559/80486180-5dbd7680-8978-11ea-9052-60cb0d115458.png)

[2020-04-28 12:40] aashimgarg commented on #576
Working on that..

[2020-04-28 13:08] ashishnagpal2498 commented on #263
No , it is not yet completed @smaranjitghose . CSS of whole project is left.

[2020-04-28 13:54] #427 closed

[2020-04-28 14:22] Muskan-Mangal opened #582 "Background image looks odd"
**Description of the enhancement**
That doodle or image in the background looks so odd  in event1.html.

**Screenshots**
Screenshots of the proposed changes compared with the current version of the project
![Screenshot from 2020-04-28 19-35-05](https://user-images.githubusercontent.com/33172345/80498705-afbac800-8989-11ea-9c0f-bb5b4042fccf.png)

[2020-04-28 14:23] Muskan-Mangal commented on #582
I won't be able to correct it.
@anushbhatia @smaranjitghose please assign someone who volunteers

[2020-04-28 14:28] aashimgarg commented on #582
i can work on it.

[2020-04-28 14:36] aashimgarg opened #583 ":feat: scrollToTop => ( using vanillaJS )"
**Description of the enhancement**
I think its a better alternative rather than importing the jQuery library for this function.

[2020-04-28 15:08] Adyasha8105 commented on #582
@aashimgarg I have done this image if you want to work on it then you can message me in slack

[2020-04-28 15:11] Muskan-Mangal commented on #582
@Adyasha8105 I have no problem but I really suggest to claim the issue before working on that to acknowledge other contributors and save their time too.
Just a friendly suggestion :)

[2020-04-28 15:15] Adyasha8105 commented on #582
Ya but if @aashimgarg wants to do this as he commented first.

[2020-04-28 15:44] Muskan-Mangal commented on #583
@aashimgarg  you still have to import jquery since it's used in many script in the project.
I am improving the performance by removing the slim calls instead of minified calls though since slim lacks AJAX calls and animations etc but minified include all this. Other than that it improves the speed, consume less data and less battery charge too.

[2020-04-28 15:46] aashimgarg commented on #583
I am working on it.

[2020-04-28 15:47] Muskan-Mangal commented on #583
okay so can you explain why vanilla?

[2020-04-28 15:51] Muskan-Mangal commented on #583
I am just trying to tell you that jquery hasn't been imported only for that scroll to top function.
Even if you solve this by vanilla u have to load that still so why are you redoing a thing.
Lets have suggestions from or mentors.
@smaranjitghose  @anushbhatia
Please suggest what we should we with. I am agree with any of them since performance and efficiency is the priority.

[2020-04-28 15:57] smaranjitghose commented on #583
Yes @Muskan-Mangal is right about this. We are anyways using jquery for other sections

[2020-04-28 16:29] smaranjitghose commented on #569
@Aman-Codes Are you working on the Getting Started.MD or the ```Geeks behind this section```?

[2020-04-28 16:41] smaranjitghose commented on #290
Are there any further changes for the contact page?

[2020-04-28 16:41] Aman-Codes commented on #569
@smaranjitghose I would like to take up another issue next time.

[2020-04-28 16:52] smaranjitghose commented on #566
@Kashish-max this is assigned to @aashimgarg for the next  4 days. After that if any changes are required, you can take over

[2020-04-28 18:16] Adyasha8105 commented on #569
@smaranjitghose I will work on the third issue.

[2020-04-28 18:22] Kashish-max commented on #290
yes

[2020-04-28 18:22] Kashish-max commented on #290
yes , you can close this issue

[2020-04-29 07:02] Adyasha8105 opened #592 "Event Page bug"
**Description of the enhancement**
This image seems to be clumsy.
Either we should remove or put it on the left side (book image).
@anushbhatia What's your opinion sir?

**Screenshots**
![2020-04-29 (1)](https://user-images.githubusercontent.com/54095539/80568897-73cd4480-8a15-11ea-9253-ece9e5a69708.png)

[2020-04-29 07:46] Muskan-Mangal commented on #592
issue #582 is same as this and @aashimgarg is assigned . Please check it once.

[2020-04-29 08:04] Adyasha8105 commented on #592
I am talking about the book image. His task is to change the boy image and I made an issue to either change or remove the book image as it looks very clumsy at first sight.

[2020-04-29 08:07] Muskan-Mangal commented on #592
well I opened that issue for book image actually but it's okay may be you take it differently.
No issues
@aashimgarg what are you working at that book image or or that boy image?

[2020-04-29 08:16] Adyasha8105 commented on #474
@smaranjitghose I will work on it sir.

[2020-04-29 08:19] Muskan-Mangal commented on #474
Yeah @Adyasha8105 and me are collaborating for this issue please assign it to her too.

[2020-04-29 08:33] #592 closed

[2020-04-29 10:33] #576 closed

[2020-04-29 10:38] #290 closed

[2020-04-29 13:17] #474 closed

[2020-04-29 16:28] abhu-A-J opened #600 "Cutomizable Optimization API addition"
**Description of the enhancement**
 Introduce a Script which when attached to HTML documents will trigger out API calls to different optimization API and custom API (with watchers).

**What does it do?**
 It a custom JS file, which can be customized as per need to make some modern browser-based API calls, in the form of Navigation API, Timings API, Frame API, Server Timing API, Resource API and mo

[2020-04-29 18:24] Muskan-Mangal opened #602 "scroll to top icon different in a temp"
**Description of the enhancement**
scroll to top button icon is different in event1 template and it lags in some functionality too.

**Screenshots**
![Screenshot from 2020-04-29 23-51-49](https://user-images.githubusercontent.com/33172345/80632282-ace8d180-8a74-11ea-8b3a-7a4f5c7b4b03.png)

[2020-04-29 18:24] Muskan-Mangal commented on #602
@anushbhatia I am working on appearance and @Adyasha8105 is working on functionality part of it.
please assign it to us.

[2020-04-29 19:01] Muskan-Mangal commented on #558
@aashimgarg close this now! it has been solved

[2020-04-29 19:30] #564 closed

[2020-04-29 19:33] #558 closed

[2020-04-29 20:51] #602 closed

[2020-04-30 06:08] Adyasha8105 commented on #582
@aashimgarg Are you working on this ???

[2020-04-30 10:13] aashimgarg commented on #582
yes.

[2020-04-30 15:58] anirudh-kac opened #614 "Add a footer"
A footer is needed at the bottom. The web page seems to end abruptly as of now.
A simple footer can fix it which can contain simple copyright information etc

[2020-04-30 16:00] #582 closed

[2020-04-30 18:29] shreyakapoor08 commented on #569
Can I work on it ?

[2020-05-01 12:18] Adyasha8105 opened #619 "Enhancement of registration page"
I want to make the page more attractive.

[2020-05-01 13:21] aashimgarg commented on #619
First let me finish working on the page @Adyasha8105 then you can proceed.

[2020-05-01 13:35] Adyasha8105 commented on #619
@aashimgarg I have already started.

[2020-05-01 13:37] aashimgarg commented on #619
I was working on it from past two days!

[2020-05-01 13:45] Adyasha8105 commented on #619
Okay then after your PR, I will start my work.

[2020-05-01 14:07] anushbhatia commented on #614
there's a footer already

[2020-05-01 15:06] abhu-A-J opened #622 "Vendor support and Validator"
A feature request
- Addition of web kits/ vendor prefixes on CSS along with validations from w3 to check correct syntax and markup to have uniform experience on all browsers!

@anushbhatia Sir, if considered valid I would like to work on it alone to avoid confusion! Thank you!.

[2020-05-01 15:30] aashimgarg opened #623 "Making register form validate."
**Description of the enhancement**
Validating register form.

**Screenshots**
Screenshots of the proposed changes compared with the current version of the project

related to #566

[2020-05-01 15:33] Adyasha8105 commented on #623
@aashimgarg Please wait for two days.

[2020-05-01 18:28] anushbhatia commented on #622
Sure nobody will interfere in this

[2020-05-01 19:57] shwetagurnani opened #626 "Enhancement in "Our Initiatives" Section"
**Description of the enhancement**
I think in "Our Initiatives" section the gap between 2nd and 3rd box is more as compared to between 1st 2nd and 3rd 4th. I want to fix this.

**Screenshots**
Screenshots of the proposed changes compared with the current version of the project
![Screenshot from 2020-05-02 01-20-57](https://user-images.githubusercontent.com/43384092/80837258-181cda00-8c14-11ea-87cd

[2020-05-01 23:43] aashimgarg opened #630 ":feat: otp verification => registration form."
**Description of the enhancement**
otp verification in registration form.

i think it is required for the registration form.

[2020-05-02 04:14] abhu-A-J commented on #626
@shwetagurnani  since there is also one similar issue #536 , can you also link issue #536 in your PR so I see what you have worked on and avoid working on the same problem! Else we might overwrite each other's work unknowingly! 🤣  Thanks!

[2020-05-02 06:16] #583 closed

[2020-05-02 06:52] #619 closed

[2020-05-02 07:02] shwetagurnani commented on #626
Sorry @abhu-A-J  I missed that issue. I'll link #536  in my PR to avoid any overwriting.Thanks for highlighting!

[2020-05-02 15:37] #614 closed

[2020-05-02 17:33] pranesh6876 opened #638 "Letter spacing issue"
![Screenshot (68)](https://user-images.githubusercontent.com/46838529/80871179-d69a3680-8cc8-11ea-8501-d31c4cb1d3d9.png)

[2020-05-02 17:37] pranesh6876 commented on #638
Hello @smaranjitghose sir, I found this spacing issue. Please assign me this issue if it is a valid issue.

[2020-05-02 18:09] pranesh6876 commented on #638
![Screenshot (70)](https://user-images.githubusercontent.com/46838529/80872213-29c2b800-8cce-11ea-82aa-36ce92ccaf9b.png)

[2020-05-02 18:12] 264pranjal opened #639 "Achivements page is not properly organized in mobile version."
![image](https://user-images.githubusercontent.com/37728750/80872136-c9cc1180-8ccd-11ea-82a4-445e3379cede.png)
![photo_2020-05-02_23-40-50](https://user-images.githubusercontent.com/37728750/80872265-81612380-8cce-11ea-8564-f28b1db29d03.jpg)

[2020-05-02 18:13] 264pranjal commented on #639
@smaranjitghose Sir can I work on this issue.

[2020-05-02 18:15] pranesh6876 opened #640 "Navbar is not properly aligned in mobile version"
In our achievements page:
![Screenshot (71)](https://user-images.githubusercontent.com/46838529/80872330-d69d3500-8cce-11ea-88cd-eaadc3c62a83.png)
In blogs page also:
![Screenshot (72)](https://user-images.githubusercontent.com/46838529/80872352-fa607b00-8cce-11ea-8c83-43fda4c4319f.png)

[2020-05-02 18:15] minolipvartak commented on #34
Hello @anushbhatia is there anything else to be done for SEO?

[2020-05-02 18:17] pranesh6876 commented on #640
Hello @smaranjitghose sir, I found this issue. Please assign me this issue if it is a valid issue.

[2020-05-02 18:59] anushbhatia commented on #34
just google all SEO enhancement features in a website u will get a plenty of them.

[2020-05-02 19:00] anushbhatia commented on #638
go ahead

[2020-05-02 19:05] pranesh6876 commented on #638
ok sir.

[2020-05-02 19:49] #623 closed

[2020-05-02 21:05] smaranjitghose commented on #569
Take up the ```Getting_Started.MD``` part

[2020-05-02 21:06] shwetagurnani opened #645 "Enhancement in Recent events section"
**Description of the enhancement**
Box-shadow in upcoming events is orange  whereas in recent events its black, I think both should have the same orangish box shadow. I want to fix this.

**Screenshots**
![Screenshot from 2020-05-03 02-33-23](https://user-images.githubusercontent.com/43384092/80892297-89c55880-8ce6-11ea-8e1b-c89d168f6e3c.png)
![Screenshot from 2020-05-03 02-33-28](https://user-ima

[2020-05-02 21:18] #626 closed

[2020-05-02 21:26] aashimgarg opened #646 ":feat: validate => ContactUS form."
**Description of the enhancement**
1. We can enter numbers in the name input. Only it should have one alphabet and it will work.
2.  The email only include @ .
3. Minifying the contactUS js

**Screenshots**
Screenshots of the proposed changes compared with the current version of the project

[2020-05-02 22:33] 264pranjal commented on #639
@anushbhatia sir will this issue come under gssoc20?

[2020-05-03 07:01] 264pranjal commented on #639
@anushbhatia Sir I have send the PRs for changes

[2020-05-03 07:03] 264pranjal commented on #639
https://github.com/smaranjitghose/girlscript_chennai_website/pull/647

https://github.com/smaranjitghose/girlscript_chennai_website/pull/648

[2020-05-03 07:09] Adyasha8105 opened #650 "Back End for registration Form"
**Description of the enhancement**
I want to change the theme of the registration page like other pages.

[2020-05-03 07:23] anushbhatia commented on #630
We don't need this as for now this we will keep as a bonus task later

[2020-05-03 07:36] anushbhatia commented on #650
what all changes you want to make

[2020-05-03 07:40] anushbhatia opened #651 "Enhancement of confetti in Achievements"
I wanted to have something like [Link](https://twitter.com/i/status/1000968725158244352)
![1588491445573](https://user-images.githubusercontent.com/40017559/80908675-72ff2000-8d3f-11ea-9d1b-4a8420b150f9.png)

[2020-05-03 07:41] #566 closed

[2020-05-03 07:42] 264pranjal commented on #639
#648

[2020-05-03 07:44] anushbhatia opened #652 "Enhancement of registration form"
[Link to the page](https://girlscriptboilerplate.netlify.app/registrations)

1. Add header and footer
2. Add Vectors
**Any more enhancements will be welcome.**

[2020-05-03 07:53] aashimgarg commented on #652
I want to work on it.

[2020-05-03 07:54] aashimgarg commented on #651
I want to work on it.

[2020-05-03 08:23] Adyasha8105 commented on #652
actually i have already mage an issue for it.

[2020-05-03 08:29] Adyasha8105 commented on #650
sorry, mistakenly I have written contact form. @anushbhatia

[2020-05-03 08:35] aashimgarg commented on #652
its closed!

[2020-05-03 08:36] Adyasha8105 commented on #652
no not at all

[2020-05-03 08:41] shwetagurnani commented on #651
I want to work on this.I am new to this project.Please assign me

[2020-05-03 08:41] aashimgarg commented on #650
if at all you wanted to change the background theme then why you changed the image! changing then again changing?

[2020-05-03 08:43] Adyasha8105 commented on #650
theme means like the other pages not the color.

[2020-05-03 08:53] aashimgarg commented on #651
i have been working on it.

[2020-05-03 09:14] shwetagurnani commented on #651
@aashimgarg It is not yet assigned to you. That's why I asked the mentor to assign me. Moreover, let the mentor decide who will work:)

[2020-05-03 09:24] pranesh6876 commented on #638
sir @anushbhatia , Please review the PR #653 .

[2020-05-03 09:43] pranesh6876 commented on #640
Sir @anushbhatia , please review the PRs #656 and #657

[2020-05-03 09:46] anushbhatia commented on #651
both of you can work on it I have two tasks so
1. make this achievement @aashimgarg
2. On click of register button have a confetti @shwetagurnani
[Refrences for second one](https://codepen.io/orrybaram/pen/LxOMwG)

[2020-05-03 09:58] #630 closed

[2020-05-03 09:59] anushbhatia commented on #652
Both of you can do it which page looks better that will be merged @Adyasha8105 @aashimgarg

[2020-05-03 10:02] anushbhatia commented on #548
U

[2020-05-03 10:02] #548 closed

[2020-05-03 10:06] aashimgarg commented on #650
Please elaborate what does backEnd include @anushbhatia.

[2020-05-03 10:41] ashishnagpal2498 opened #658 "Bug Achievement"
**Bug**
The last card of achievement page is abrupt.
![image](https://user-images.githubusercontent.com/36301481/80912130-781c9900-8d58-11ea-9535-28f367c5a9de.png)
Also when we open a card, and scroll to top button visible, it changes to chevron down.
![image](https://user-images.githubusercontent.com/36301481/80912158-adc18200-8d58-11ea-8fc9-811a43cc59a6.png)

[2020-05-03 10:45] ashishnagpal2498 opened #659 "Better error display Contact Us"
Currently if the field is empty or wrong value entered, alert box is shown.
The current feature can be changed t error message placed about the fields with focus on those fields.
![image](https://user-images.githubusercontent.com/36301481/80912241-36402280-8d59-11ea-880c-824f14f74750.png)

[2020-05-03 11:29] aashimgarg commented on #659
hey by the way i corrected that in my PR.

[2020-05-03 11:30] aashimgarg opened #661 ":refactor: validate => registerForm."
**Description of the enhancement**
Minimising Registeration.js

**Screenshots**
Screenshots of the proposed changes compared with the current version of the project

[2020-05-03 12:02] anushbhatia commented on #650
yes, connect it to a firebase account and prevent null values

[2020-05-03 12:03] anushbhatia commented on #659
add a helper text below it

[2020-05-03 12:09] anushbhatia commented on #661
Perform this after the complete form is ready

[2020-05-03 14:09] smaranjitghose opened #663 "Modify Dark Mode switch to day/night themed switch"
Refer:

https://codepen.io/jsndks/pen/qEXzOQ

[2020-05-03 14:12] smaranjitghose commented on #502
This issue is closed due to inactivity.

[2020-05-03 14:12] #502 closed

[2020-05-03 14:14] smaranjitghose opened #664 "Attempt to replace the carousel with a Text animation effect over a background image"
Refer: https://codepen.io/Sonick/pen/HthaI

[2020-05-03 15:25] Adyasha8105 commented on #664
assign this to me

[2020-05-03 15:26] Adyasha8105 commented on #663
I want to work on this

[2020-05-03 15:28] ashishnagpal2498 commented on #663
Can I work on this issue?

[2020-05-03 15:49] anushbhatia commented on #663
[https://codepen.io/haxzie/pen/xxKNEGM](https://codepen.io/haxzie/pen/xxKNEGM)
Refer this too!!

[2020-05-03 15:52] anushbhatia commented on #600
this is done or anything more u want to add

[2020-05-03 15:57] abhu-A-J commented on #600
I am learning some more Sir, I'll close it soon if I am unable to add it or will inform you soon!

[2020-05-03 16:28] Castella1313 opened #666 "Fixing HTML validator errors"
Description
Aims to resolve all HTML validation issues associated with HTML files.

[2020-05-03 18:41] #661 closed

[2020-05-03 19:26] #646 closed

[2020-05-03 20:27] anushbhatia commented on #666
Which issue specifically can you share the screenshot

[2020-05-04 07:32] smaranjitghose commented on #664
@Adyasha8105 If you do this and everything works fine, in your PR, update the documentation as well

[2020-05-04 07:34] Castella1313 commented on #666
**w3c validator is showing these errors in the file achievements.html**

![Screenshot 2020-05-04 at 1 00 26 PM](https://user-images.githubusercontent.com/53293156/80944674-bcb33d80-8e07-11ea-9a1d-7860850daaae.png)

![Screenshot 2020-05-04 at 1 00 40 PM](https://user-images.githubusercontent.com/53293156/80944677-be7d0100-8e07-11ea-94ff-1b127222f670.png)

![Screenshot 2020-05-04 at 1 00 54 PM](http

[2020-05-04 07:36] anushbhatia commented on #666
Go ahead with it

[2020-05-04 07:45] smaranjitghose commented on #663
@ashishnagpal2498  you can start working on this according to the one I suggested, however give a PR only after @Adyasha8105 's is merged so that there no conflicts

[2020-05-04 07:46] smaranjitghose commented on #554
I guess the majority of home page is completed by now? So I am checking it off

[2020-05-04 07:50] shreyakapoor08 commented on #554
@smaranjitghose main page describing the project is also done, you can check that also 😊

[2020-05-04 08:29] smaranjitghose opened #670 "Fix and improve the projects on Achievements Page"
# Primary

- Choose appropriate pictures or remove it completely
- Give the description properly
- Have links to GitHub
- Change the cards and transition effects

### Projects to include for now:

- [ ] [Smile Please](https://github.com/smaranjitghose/smileplease)
- [ ] [Profile Chrome Extension](https://github.com/smaranjitghose/profile_chrome_extension)
- [ ] [Face Anonymizer](https://github.com

[2020-05-04 08:46] Castella1313 commented on #666
@anushbhatia @aman-atg may you please review my PR !!!

[2020-05-04 08:52] smaranjitghose commented on #670
__Note__: Issue Templates, GitHub Actions won't be accepted for  the Secondary tasks any more

[2020-05-04 09:59] aashimgarg commented on #670
the images currently come from unsplash. I was thinking to fetch the images from unsplash API.

[2020-05-04 10:54] aashimgarg opened #673 ":feat: scrollIndiacator for the page."
**Description of the enhancement**
By adding this user will know when the page is going to end.

[2020-05-04 11:58] #638 closed

[2020-05-04 19:07] #468 closed

[2020-05-04 19:09] Adyasha8105 commented on #532
@smaranjitghose as I have done all those required changes ... I am closing this issue.

[2020-05-04 19:09] #532 closed

[2020-05-04 19:16] #664 closed

[2020-05-05 05:17] Adyasha8105 opened #680 "change the description in every page"
**Description of the enhancement**
I want to change this part on every page according to girl script boilerplate.

**Screenshots**
![2020-05-05 (3)](https://user-images.githubusercontent.com/54095539/81036763-e9299100-8ebd-11ea-92f3-4f741db24aca.png)

[2020-05-05 08:05] anushbhatia commented on #658
Any Updates?

[2020-05-05 08:06] anushbhatia commented on #680
@abhu-A-J is already working on this

[2020-05-05 08:06] #680 closed

[2020-05-05 10:05] Adyasha8105 commented on #650
@aashimgarg Do you want to do this as I am new to backend :(?

[2020-05-05 11:21] ashishnagpal2498 commented on #658
Yes , I am working on it.
Found one more issue,
If the card in more Div is open and user clicks on show Less, the UI remains disabled.
1)
![image](https://user-images.githubusercontent.com/36301481/81060707-a0d79680-8ef0-11ea-93df-ad6a1d01d0f5.png)

![image](https://user-images.githubusercontent.com/36301481/81060729-ac2ac200-8ef0-11ea-8d41-0ed2c550f54d.png)

Doing this in same PR.

[2020-05-05 18:27] aashimgarg opened #685 "adding double diagonal section separators instead of Parallax."
**Description of the enhancement**
adding double diagonal section separators instead of Parallax.

**Screenshots**
Screenshots of the proposed changes compared with the current version of the project

[2020-05-05 19:30] anushbhatia commented on #685
where exactly

[2020-05-05 19:30] anushbhatia commented on #673
which colour?

[2020-05-05 19:33] aashimgarg commented on #673
any shade of black!

[2020-05-05 19:55] shwetagurnani opened #689 "Enhancement in home page"
**Description of the enhancement**
In Our Initiatives Section-I want to add box-shadow (orangish) and make the borders and increase the corner radius

In WE CREATE TRENDS FOR THE WORLD Section: I want to change the box-shadow to orangish. Also, the image for Internet of things is not being loaded

**Screenshots**
Screenshots of the proposed changes compared with the current version of the project

[2020-05-05 20:11] anushbhatia commented on #673
we can have this in blog page

[2020-05-05 20:12] CipherGirl commented on #554
Hello mentor and assignees! I and my friend one of my friend @shadman-ahmed-chowdhury were looking for some issues for documentation in GSSoC, unfortunately, we couldn't find much. As this issue is already taken up. Just letting you know if there is some work to split up we'd love to join and work collaboratively!

[2020-05-05 20:14] aashimgarg commented on #673
in the index page too

[2020-05-05 20:15] anushbhatia commented on #673
it will look weird in dark mode

[2020-05-05 20:15] aashimgarg commented on #673
we can change the color in the darkMode

[2020-05-05 20:15] Adyasha8105 commented on #689
The image for the Internet of things is not being loaded. Are u sure?

[2020-05-05 20:17] anushbhatia commented on #673
which colour?

[2020-05-05 20:21] aashimgarg commented on #673
white or orange  which ever will suit more!

[2020-05-06 06:04] anushbhatia commented on #673
Will that not make the navbar look big?

[2020-05-06 06:25] smaranjitghose commented on #554
@CipherGirl I have assigned both of you the corresponding issue for the GirlScript App project. For this project, once the first phase of the documentation is completed by @shreyakapoor08 and @Adyasha8105 , you are can contribute to enhance it.

[2020-05-06 06:31] #658 closed

[2020-05-06 06:34] smaranjitghose opened #690 "Team Page (Enhancement)"
- [x] Change the UI to Add Parallex Depth to the cards for each member
Refer [this](https://codepen.io/andymerskin/full/XNMWvQ)
- [x] Each member should have options to include Linkedin,GitHub
- [ ] Team Division: Board, Technical Team, Marketing Team, Creatives Team,Publicity Team

__For any Pull Request you give, including relevant comments is mandatory for review__

[2020-05-06 06:43] #663 closed

[2020-05-06 06:45] smaranjitghose opened #691 "Dark Mode Switch [Enhancement]"
- [ ] Improve the design of the dark mode switch
- Preferable look : https://codepen.io/jsndks/pen/qEXzOQ
- [ ] __Don't use any external assets. You are expected to design it from scratch__

[2020-05-06 06:45] smaranjitghose commented on #536
@

[2020-05-06 06:45] #536 closed

[2020-05-06 06:46] #639 closed

[2020-05-06 06:48] smaranjitghose commented on #689
@shwetagurnani for the current version of the code base, this is working fine

[2020-05-06 06:48] #689 closed

[2020-05-06 06:52] Adyasha8105 commented on #691
@smaranjitghose I will do the exact same thing in this link :).

[2020-05-06 06:54] Adyasha8105 commented on #690
@smaranjitghose As I made the team page, I want to work on this.

[2020-05-06 06:55] smaranjitghose opened #692 "Home Page [Enhancement]"
- [ ] The text current animation loads twice for the first string.  Apply a different effect

[2020-05-06 07:02] Adyasha8105 commented on #692
Ya as I have made this effect. I will solve the bug.

[2020-05-06 07:18] smaranjitghose commented on #569
@shreyakapoor08  for the Getting Started, give the rest of the work as a single PR please

[2020-05-06 07:19] smaranjitghose commented on #569
@Adyasha8105 any updates on your assigned part?

[2020-05-06 07:19] Adyasha8105 commented on #690
I want to work on the first task @smaranjitghose

[2020-05-06 07:21] abhishekgupta368 commented on #690
Assign me

[2020-05-06 08:57] smaranjitghose commented on #692
Experiment with some other effects as well

[2020-05-06 09:01] aashimgarg commented on #690
I will work on the third one then.

[2020-05-06 09:02] aashimgarg commented on #691
i can work on this.

[2020-05-06 09:03] aashimgarg commented on #685
like the index page which has parallax so instead of that we can have doublediagonal section seperators.

[2020-05-06 09:12] aashimgarg commented on #673
i dont think so.... because its a very thin line.

[2020-05-06 16:50] anushbhatia commented on #673
if this looks good then we will keep it else remove it

[2020-05-06 16:52] aashimgarg commented on #673
cool!!

[2020-05-06 18:17] abhu-A-J commented on #666
@anushbhatia Sir  @Castella1313 Open to collaboration? If yes, I would like to chip in as well. Else you may continue

[2020-05-06 18:21] Castella1313 commented on #666
@abhu-A-J yup, its absolutely fine. I have no problem with this.

[2020-05-06 21:16] ashishnagpal2498 commented on #691
I think I was suppose to be working on this, according to #663 @smaranjitghose ?

[2020-05-07 05:35] Castella1313 commented on #666
@abhu-A-J let me know which file you will be working at?

[2020-05-07 05:38] abhu-A-J commented on #666
Hey! I was thinking on the team, contact and achievements.
But it's upto you, you can tell me which ones I can take since you created the issue!

[2020-05-07 05:41] Castella1313 commented on #666
@abhu-A-J achievements.html is already done. you can take up the rest two.

[2020-05-07 08:42] #645 closed

[2020-05-07 09:47] anushbhatia commented on #666
do it for home page too

[2020-05-07 17:29] #692 closed

[2020-05-07 17:43] shreyakapoor08 commented on #554
@smaranjitghose Announcement section is also complete @Adyasha8105. 😊
You can mark it check ✔️

[2020-05-07 17:46] smaranjitghose commented on #691
I guess @anushbhatia had closed that one, and further I didn't see any from your side regarding this after the first enhancement was merged,hence I raised a new issue.

[2020-05-07 17:47] smaranjitghose commented on #691
Do you want to work on this one?

[2020-05-07 18:37] ashishnagpal2498 commented on #691
Yeah sure.

[2020-05-07 21:35] #640 closed

[2020-05-08 01:58] smaranjitghose commented on #691
Let @aashimgarg make his contribution for the next 2 days, after that you can improve upon it

[2020-05-08 01:59] smaranjitghose commented on #569
Try to align my and @anushbhatia 's pictures side by side

[2020-05-08 09:17] Adyasha8105 opened #715 "Enhancement of buttons"
**Description of the enhancement**
I want to redesign the buttons present on the website.
@smaranjitghose Please assign me.

[2020-05-08 09:18] Adyasha8105 commented on #650
@aashimgarg If you want to work on this then you can take it :)

[2020-05-08 13:37] anushbhatia opened #720 "Custom Loader"
[https://codepen.io/CrocoDillon/details/Htycs](https://codepen.io/CrocoDillon/details/Htycs)
Something kind of this for the complete website
but it should be light

[2020-05-08 13:39] aashimgarg commented on #720
It should be present in the initial phase of loading right?

[2020-05-08 15:00] anushbhatia commented on #720
yes

[2020-05-08 18:29] abhu-A-J commented on #720
May I also try it Sir with custom-designed SVG's ??

[2020-05-08 19:51] #715 closed

[2020-05-08 21:26] anushbhatia commented on #720
yes sure

[2020-05-08 21:40] smaranjitghose opened #729 "Wave [Enhancement]"
Refer this: https://njackwinterofcode.github.io/

[2020-05-08 22:33] #659 closed

[2020-05-09 05:25] abhu-A-J opened #730 "BUG CORRECTION"
**BUG REPORT**
- 404 of undefined stylesheets and scripts on home page (can be seen on console)
- The go-to top button is not working (not visible and not functioning) (across all pages) (can be seen in live application)
- Clean out deferring of scripts on the home page using defer attribute instead of injecting scripts to do it on load

[2020-05-09 07:13] Adyasha8105 commented on #729
I want to work on this ;)

[2020-05-09 07:52] anushbhatia opened #732 "Dark Mode Color Scheme"
**Follow the XD file provided and take the colour codes from there and use it.**

Apply this scheme on the home page
Use of minimal orange colour in the project
Follow the mockup given below these are just samples:

**background** 121212
**card** 1e1e1e
**font light** a2a2a2
**highlight font** dfdfdf
**Main heading** dddddd

[Figma Document](https://www.figma.com/file/cr1E8OpdsptoC5rjf6nmTm/Materi

[2020-05-09 08:34] Adyasha8105 commented on #732
Actually I have already taken up 1-2 issues. If possible, I want to work on this issue too.

[2020-05-09 08:41] anushbhatia commented on #732
Finish the previous issues then you can surely work on this one.

[2020-05-09 09:20] #666 closed

[2020-05-09 10:10] Adyasha8105 commented on #729
In the next PRs, I will work on the bug present in the contact page, dark mode enhancement of the footer, and the footer present on the registration page :)

[2020-05-09 13:31] aashimgarg opened #736 "adding fat arrows in place of normal JS functions."
**Description of the enhancement**
Replacing the current functions with the fat arrows syntax.
It’s much shorter!
We are able to omit the curly braces and the return statement due to implicit returns

Its fast too.
**Screenshots**
Screenshots of the proposed changes compared with the current version of the project

[2020-05-09 15:14] aashimgarg commented on #736
@anushbhatia what are your views?

[2020-05-09 16:48] #730 closed

[2020-05-09 20:12] #729 closed

[2020-05-09 20:33] anushbhatia commented on #569
Also u can add this
  [![hi](https://www.netlify.com/img/deploy/button.svg)](https://app.netlify.com/start/deploy?repository=https://github.com/netlify/netlify-photo-gallery)
prefered would be make a custom one

[2020-05-10 05:50] abhu-A-J opened #744 "Dynamic Card Injection"
Dynamic Injection of Cards on Team and Achievements and others

Eg: The team page has over 15 cards which can increase or decrease with time.
Maintaining the cards (editing details, addition, and deletion of information from HTML, etc )  will become very difficult with time.
I want to insert them dynamically by converting the details to JS Objects with data.

This goes a long way in the future sin

[2020-05-10 05:51] Adyasha8105 commented on #732
Now I can work on it :)

[2020-05-10 14:21] saloniankita commented on #554
Can I contribute individually to the Contact Us page section @smaranjitghose ?

[2020-05-10 14:22] smaranjitghose commented on #691
@ashishnagpal2498 You are assigned the work for the next 4 days

[2020-05-10 15:07] smaranjitghose commented on #650
The remaining work will be done with the backend specific issues

[2020-05-10 15:07] #650 closed

[2020-05-10 15:09] smaranjitghose commented on #690
@abhishekgupta368 you are assigned #1 and #2 for the next 5 days. If you need help with the design have a talk with @anushbhatia or let me know on slack

[2020-05-10 17:12] aashimgarg opened #752 "Returning Boolen values from JS functions."
**Description of the enhancement**
Many of the JS functions are used only for the if else purposes.
But,  all the **comparison operators** return boolean values. So we can replace the if-else statements with the simple return value. I think this will be very useful.

This will minimise and enhance the code a lot.

@anushbhatia what are your thoughts?

**Screenshots**
Screenshots of the proposed ch

[2020-05-10 20:06] #652 closed

[2020-05-10 20:11] smaranjitghose commented on #569
@Adyasha8105 can you please follow the reference I gave above and try to replicate the same. Also, add @anushbhatia 's suggestion above

[2020-05-10 20:14] smaranjitghose commented on #554
Pardon me, it was already assigned. Could you work on a custom css for the documenation. @anushbhatia will be able to guide you with this. Moreover, the position of the search bar and stuff needs some improvements, you can fix that too

[2020-05-11 06:09] abhu-A-J opened #759 "Setting code format standard using prettier"
Mentors I want to include a `.prettierrc` file with some uniform code standard to put into codebase so all the code HTML, CSS, and JS can be formatted with uniform setting across all developer's editor settings, which right now keeps changing based on independent editor settings and can be be very difficult to work upon!

**I want to do it for community and not under GSSoC since it will great addi

[2020-05-11 07:33] smaranjitghose commented on #759
Well, I really appreciate the idea of a custom config file for prettier. If you wish, later ES Lint can also be added.

Let @anushbhatia confirm once as well, you can surely go ahead with this then

I would suggest some of you to create Wikis for this, so that beginners who are not aware of prettier can have a step by step tutorial, how to make use of this config file, Format on Exit, etc

As we a

[2020-05-11 08:34] aashimgarg commented on #759
@abhu-A-J we can also think of using prettier VS code plugin

[2020-05-11 08:37] abhu-A-J commented on #759
Yes, I'm thinking the same but to override certain defaults ( or your favourite setting on you personalized dev) we can keep out in a config file just on this project! Maintains uniformity? I think we can do that? @aashimgarg ! What do you think?

[2020-05-11 08:53] aashimgarg commented on #752
@anushbhatia what are your thoughts?

[2020-05-11 11:26] #720 closed

[2020-05-11 12:21] aashimgarg opened #761 "Replacing event type used in HTML Markup to eventListener in JS."
**Description of the enhancement**
Replacing event type used in HTML Markup to eventListener in JS.
Many of the tag include onclick properties so to make code more dynamic we can replace it by adding eventListener in their JS files

That eventListeners will have their respective functions to make them more simplified and easy to understand!

@anushbhatia what are your thoughts?

**Screenshots**
Sc

[2020-05-11 12:22] aashimgarg commented on #759
in JSON format would be the best i think.

[2020-05-11 15:42] anushbhatia commented on #752
ok but it should decrease the lines of code okay?

[2020-05-11 15:43] anushbhatia commented on #651
@shwetagurnani any Update

[2020-05-11 16:40] aashimgarg commented on #752
yes for sure!!!

[2020-05-11 20:22] #759 closed

[2020-05-11 21:39] #736 closed

[2020-05-11 21:40] anushbhatia commented on #736
I will reopen it after all the issues are done

[2020-05-11 22:19] #752 closed

[2020-05-12 07:40] #685 closed

[2020-05-12 07:41] #761 closed

[2020-05-12 07:42] #673 closed

[2020-05-12 07:42] #519 closed

[2020-05-12 07:43] smaranjitghose commented on #690
Any updates @abhishekgupta368 ?

[2020-05-12 07:52] Adyasha8105 commented on #690
@Adyasha8105 Sir today I will do this work. Sorry for being late.

[2020-05-12 09:41] Kashish-max commented on #690
Can I work on this issue?

[2020-05-12 14:34] smaranjitghose commented on #690
Let @abhishekgupta368 spend a day or two for contributing to this. Otherwise, tag me again here, I'll assign it to you

# Note:

- I have given a preferable style and transition for the cards above. You can surely modify it as suited.
- For the guidance related to design, please contact @anushbhatia if it is need
- We are using JSON for entering the data as done by @abhu-A-J [here](https://github.

[2020-05-12 14:42] smaranjitghose commented on #569
@Adyasha8105 are you still working on this?

[2020-05-12 15:04] smaranjitghose commented on #554
@Adyasha8105 @shreyakapoor08  For this issue we should try to proceed as follows:
- For License ,Code of Conduct,Contributing Guidelines:just add them in them in the main page of documentation with a line or two for each. Also, a redirect to the files on the master branch of the repo

- For testing purposes, anyone of you just take out the required html,css files and the associated assets and push

[2020-05-13 06:54] abhishekgupta368 commented on #690
I will do it?

[2020-05-13 08:12] mdb571 commented on #670
can i work on this issue.?

[2020-05-13 11:41] anushbhatia opened #794 "Bugs"
Any bugs coming up in project should be mentioned here and the person will be assigned to resolve it.
You can also help or assist the person already working on an issue by mentioning the error here.

[2020-05-13 12:41] aashimgarg commented on #794
Using let keywords instead of var to avoid duplication. @anushbhatia .

[2020-05-13 13:40] #732 closed

[2020-05-13 17:24] aashimgarg opened #796 ":feat: adding Syntactically Awesome Style Sheet"
**Reasons**

1. SCSS contains all the features of CSS and contains more features that are not present in CSS
    which makes it a good choice for developers to use it.
2. SCSS is full of advanced features.
3. SCSS offers variables, you can shorten your code by using variables. It is a great advantage over
    conventional CSS.
4. SCSS reduces **repetition of CSS** and therefore saves time.

@anush

[2020-05-14 07:06] anushbhatia commented on #794
Okay you can do that

[2020-05-14 13:34] abhu-A-J commented on #651
@anushbhatia @smaranjitghose can I do the confetti work for the second point if it's free?

[2020-05-14 18:42] #691 closed

[2020-05-15 08:52] abhu-A-J commented on #744
@smaranjitghose Sir, I am almost done with injecting all cards only two more are left.
I wanted to ask after completing them should I moduralized everything which means I'll keep one file named ` cardDesigns.js` where call card components will be present and one `dataFile.js` and export  these files!
And that way I can clean up code in parent files by importing the required files! instead of havin

[2020-05-15 16:56] sanchibansal340 commented on #690
@smaranjitghose Can I work on the third part of this issue?

[2020-05-16 11:56] anushbhatia commented on #690
@abhu-A-J is working on this you can ask him once and you can work together

[2020-05-16 14:04] Adyasha8105 commented on #670
Can I work on this issue? @smaranjitghose

[2020-05-16 14:56] Adyasha8105 commented on #569
@smaranjitghose I think this task is now over.

[2020-05-16 16:39] abhu-A-J commented on #651
@anushbhatia Can I work on the second confetti part?

[2020-05-16 17:07] aashimgarg opened #822 ":feature: adding a fallback message after subscribing to the newsletter"
**Description of the enhancement**

adding a fallback message after subscribing to the newsletter in the footer component. There is message after the user subscribe to the newsletter using state hooks

@anushbhatia what are your thoughts.

[2020-05-17 11:39] Adyasha8105 commented on #794
@anushbhatia I want to work on the persist state of dark mode.

[2020-05-17 15:59] smaranjitghose commented on #569
@Adyasha8105 can you please put my and Anush's card one after the other and centre align them as in the current readme it's looking a bit unappealing

[2020-05-17 16:52] anushbhatia commented on #794
okay go ahead

[2020-05-17 18:13] aashimgarg opened #830 ":feat: custom404 component in react App"
**Description of the enhancement**
A 404 page may be accessed very often. Server-rendering an error page for every visit increases the load of the Next.js server.
This can result in increased costs and slow experiences.

[2020-05-17 21:55] #796 closed

[2020-05-17 22:54] #569 closed

[2020-05-17 23:25] smaranjitghose commented on #744
@Adyasha8105 @shreyakapoor08 Please update the documentation as per this

[2020-05-17 23:32] smaranjitghose commented on #670
@Adyasha8105 Make the project cards with flip transition so that the description is not displayed below. Other designs are also welcomed

[2020-05-18 07:20] #651 closed

[2020-05-18 09:02] abhu-A-J commented on #670
Sir flip animations are not good from the mobile view! (Consider UX principles here)  (since there's no surety that user's gonna click (hover changes to click on touch devices) . So other effects would be much better than flipping cards here I guess!

[2020-05-18 09:31] Adyasha8105 commented on #794
another bug
![2020-05-18 (7)](https://user-images.githubusercontent.com/54095539/82197250-5e628080-9918-11ea-8a7c-15fb62e1f1da.png)

[2020-05-18 11:15] #822 closed

[2020-05-18 12:01] aashimgarg opened #835 "React: integrating vercel for deployment."
**Description of the enhancement**
we should integrate vercel for deployment as its one of the important feature used nowadays.

[2020-05-18 12:23] smaranjitghose commented on #670
Yes you are right. We have to look for alternatives for this

[2020-05-18 12:24] abhu-A-J commented on #600
@anushbhatia Sir, you may close this issue! I don't think I have any new once to add until npm is used in the project! Thank you! You may reopen it if in future npm is added for some reason!

[2020-05-18 12:59] #600 closed

[2020-05-18 20:39] aashimgarg opened #838 "chore: adding the eslint plugin for React hooks."
**Description of the enhancement**
A clear and concise description of what the problem you wish to solve or any enhancement you wish to do for the project

**Screenshots**
Screenshots of the proposed changes compared with the current version of the project

[2020-05-19 08:04] Adyasha8105 commented on #794
I am working on the team page enhancement and the dark mode :)

[2020-05-19 08:12] anushbhatia commented on #690
- [ ] Team Division: Board, Technical Team, Marketing Team, Creatives Team, Publicity Team
- [ ] Remove border around the cards
- [ ] Add a set of 3 or 4 Cards in a row
- [ ] Dark mode fo the website

[2020-05-19 08:14] Adyasha8105 commented on #690
Can I work on this issues?

[2020-05-19 08:16] aashimgarg commented on #690
like @anushbhatia I didn't get about the darkMode. we have it🤔

[2020-05-19 08:17] Adyasha8105 commented on #690
dark mode of team page.

Dark mode of team page

[2020-05-19 09:35] anushbhatia commented on #690
That section needs is revamped so the dark mode features will change accordingly

[2020-05-19 12:36] anushbhatia commented on #838
why not JSLint or JSHint?

[2020-05-19 12:43] anushbhatia commented on #835
Will provide you with my vercel account for it

[2020-05-19 12:46] aashimgarg commented on #838
![Screenshot from 2020-05-19 18-11-46](https://user-images.githubusercontent.com/55639487/82327940-cbe7dd00-99fc-11ea-91ce-6663033a2a88.png)

as we already using the esLint in the dependencies.

[2020-05-19 17:53] #690 closed

[2020-05-20 02:46] Adyasha8105 commented on #794
Working on the footer bug :)

[2020-05-20 19:07] anushbhatia commented on #794
What's the bug?

[2020-05-21 15:40] Muskan-Mangal commented on #794
@anushbhatia no scroll to top functionality in event1.html template

[2020-05-24 08:08] anushbhatia commented on #794
**For Registartion Page**
- [ ] Validate Registration no.
Format
RA1711003010645
RA1611008010002
- [ ] Custom Error message in the form of toast
- [ ] Resolve errors in console
- [ ] Year of study not greater than 5

[2020-05-24 08:09] anushbhatia commented on #835
is this done?

[2020-05-24 08:09] anushbhatia commented on #670
Does anyone want to work on this?

[2020-05-24 08:42] abhu-A-J commented on #670
Me

[2020-05-24 12:12] Adyasha8105 commented on #794
I will gonna work on this sir. @anushbhatia

[2020-05-24 12:24] aashimgarg commented on #794
can i go for it?

[2020-05-24 14:47] anushbhatia commented on #794
@Adyasha8105 is given today's time if she is able to do it otherwise I will give it to u @aashimgarg

[2020-05-24 18:31] aashimgarg commented on #794
working on this!

[2020-05-24 18:34] Adyasha8105 commented on #794
its only 4 hours and sir haven't unassigned me. I am still working on it.

[2020-05-26 10:05] #794 closed

[2020-05-26 11:02] aashimgarg opened #871 "feature: writing Tests for react_version using JEST"
**Description of the enhancement**
we can write tests for the react_version branch using react testing library and **jest** for the various components.

**Reasons to add tests**

1. Regression testing
2. Improve the implementation via new insights
3. It saves time, really
4. Self-updating documentation

@anushbhatia what are your thoughts?

[2020-05-26 19:59] #838 closed

[2020-05-26 23:00] #835 closed

[2020-05-26 23:00] aashimgarg commented on #871
@anushbhatia ?

[2020-05-27 10:13] #830 closed

[2020-05-28 11:04] aashimgarg commented on #794
@Adyasha8105 i was working on the other two!

[2020-05-29 13:29] abhu-A-J opened #893 "Adding linters and other good supports in the form of npm"
**Description of the enhancement**
Now that project is about to be over I think it will be good to add linting support and other few npm packages to the project to improve what everyone has worked on since last 3 months

**Screenshots**
Not valid

**Example**
- ES Lint an it's plugins
- scripts to start live server for development (to see changes without refreshing)
- making prettier bound to proj

[2020-05-29 13:31] aashimgarg commented on #893
@abhu-A-J i can work too!

[2020-05-29 13:34] abhu-A-J commented on #893
Sure bro! We can split work if it gets approved! I will contact you on slack to discuss the same

[2020-05-29 13:37] abhu-A-J commented on #622
@anushbhatia Sir I am closing this since CSS was covered very nicely last time and not much has changed just a few lines only and people started adding it themselves as well so no work left here!

[2020-05-29 13:37] #622 closed

[2020-05-30 08:42] #744 closed

[2020-05-30 10:39] anushbhatia opened #900 "App Promotional Website"
An website that showcases the features of the app and also the Mockups present.
[https://www.awwwards.com/30-beautiful-app-websites.html](https://www.awwwards.com/30-beautiful-app-websites.html)
I will provide the xd file on slack if required for that

[2020-05-30 10:49] aashimgarg commented on #900
@anushbhatia i can work on this!

[2020-05-30 12:11] anushbhatia commented on #900
You guys work on React version of site and complete it

[2020-05-30 12:12] aashimgarg commented on #900
its almost done!

[2020-05-30 12:12] Adyasha8105 commented on #900
@anushbhatia Can I work on this?

[2020-05-30 12:32] anushbhatia commented on #900
@aashimgarg finish the react version till then @Adyasha8105 can work. If u make a better design then i will merge it?

[2020-05-30 13:33] anushbhatia commented on #670
@abhu-A-J any progress

[2020-05-30 13:46] abhu-A-J commented on #670
No I was not assigned so I didn't work on it! I will work now

[2020-05-30 20:55] saloniankita opened #909 ""Read Full Story" link isn't working in 'Our Achievements' Section"
In 'Our Achievements' section of the website, all the three links of "Read Full Story" aren't working. They needed to be linked with the relevant webpages in order to work properly.

[2020-05-30 20:55] saloniankita commented on #909
Kindly allow me to fix this issue.

[2020-05-31 11:20] ashishnagpal2498 opened #918 "Bug - contact us page"
Screen - mobile view.
Button not visible on initial load
![image](https://user-images.githubusercontent.com/36301481/83351040-57972d00-a35e-11ea-8178-a8cad17cb367.png)
Scroll to top icon should not be visible on display of menu.
![image](https://user-images.githubusercontent.com/36301481/83351061-801f2700-a35e-11ea-8825-9d87102cf871.png)
@anushbhatia

[2020-05-31 18:35] anushbhatia commented on #670
Sure

[2020-06-01 17:53] #918 closed

[2020-06-05 16:01] abhu-A-J commented on #670
@anushbhatia Sir, do you have any deaigns for this one. I'd like to start contributing again. :)

[2020-06-05 21:49] mundane140 commented on #900
Do you need help with this one?

[2020-06-06 00:52] #893 closed

[2020-06-06 00:52] #871 closed

[2020-06-06 00:52] #554 closed

[2020-06-06 00:53] #263 closed

[2020-06-06 00:53] #34 closed

[2020-06-07 18:59] anushbhatia commented on #670
something kind of having an image a small description and link to the project

[2020-06-07 19:01] anushbhatia commented on #670
![WhatsApp Image 2020-04-06 at 12 56 34 PM](https://user-images.githubusercontent.com/40017559/83977607-644bf000-a91f-11ea-9abc-aa9e3a4de856.jpeg)

[2020-06-11 11:30] aashimgarg commented on #893
i was reading about the plugins and found eslint-plugin-jsx-a11y to be one of the useful plugins as it will help fix common issues with accessibility. As JSX offers slightly different syntax to regular HTML, issues with alt text and tabindex, for example, will not be picked up by regular plugins.
@abhu-A-J you can have a look and give your suggestions.

[2020-06-14 11:47] #909 closed

[2020-07-15 17:06] falguniraina opened #932 "Attaching Testimonials of the team!!"

[2020-07-15 17:11] falguniraina opened #933 "To make Read more button usable"
![Screenshot from 2020-07-15 22-39-31](https://user-images.githubusercontent.com/48027052/87574584-31e69d00-c6ec-11ea-9de2-47b732dd1f28.png)
if we select this read more button it should open up a page where we could get the detailed information!!

[2020-07-15 19:57] smaranjitghose commented on #932
@falguniraina Can you please elaborate more on this? And if possible provide a sample design?

[2020-07-15 20:00] #900 closed

[2020-07-16 09:37] falguniraina commented on #932
Sure!!I meant that if we could have testimonials from the team members or ratings from the people like these shown below
![Uploading Screenshot from 2020-07-16 15-03-12.png…]()

![Screenshot from 2020-07-16 15-00-59](https://user-images.githubusercontent.com/48027052/87655439-de209600-c775-11ea-8fd7-7467c6d0ed2a.png)

[2020-07-16 09:52] falguniraina commented on #932
Sure!!I meant that if we could have the testimonials below the our team section from the customers like shown below
![Screenshot from 2020-07-16 15-03-12](https://user-images.githubusercontent.com/48027052/87657191-1a54f600-c778-11ea-8898-964583b988e9.png)
![Screenshot from 2020-07-16 15-17-00](https://user-images.githubusercontent.com/48027052/87657209-23de5e00-c778-11ea-84f2-75298c79e2d5.png)
![

[2020-07-16 11:08] falguniraina commented on #932
Sir is there any  active slack channel for this project ??Also I wanted to know how to start this site on my local environment as i wanted to test some changes so could you please help with that??

[2020-07-16 11:17] falguniraina opened #936 "Changing color of heart emoji which is black to red on the home page !!"
currently it looks like this
![Screenshot from 2020-07-16 16-41-27](https://user-images.githubusercontent.com/48027052/87664828-8a1cae00-c783-11ea-8ec3-5d69743be81b.png)

[2020-07-16 21:30] anushbhatia commented on #932
just drop your email id here we will add you to the slack

[2020-07-17 12:39] falguniraina commented on #932
email-rainadiv01@gmail.com
Also sir I am a beginner in open source(till now I had only made changes in the documentation so this would be my first ever change in the code part) so please if you could help me with setting this up locally so that i could test the changes i made are effective or not!!

[2020-07-17 18:10] #936 closed

[2020-07-17 18:13] smaranjitghose commented on #932
Sure we would love to help you out!

[2020-07-17 18:17] falguniraina commented on #932
Thanks!!
please guide me how to get started

[2020-07-17 18:23] anushbhatia commented on #932
Sent you the invite 😊

[2020-07-17 18:40] falguniraina commented on #932
Sir,I didn't received any invitation mail for the slack channel 😅

[2020-07-17 20:21] anushbhatia commented on #932
just check your spam folder

[2020-07-17 20:35] falguniraina commented on #932
Already checked sir Its not there

[2020-07-17 21:11] anushbhatia commented on #932
https://join.slack.com/t/psoc2020/shared_invite/zt-fiv5t4wh-b7lRK251D1nbJ2UtUlLjlA

[2020-07-17 21:19] falguniraina commented on #932
Thanks a lot!!

[2020-07-21 15:14] falguniraina commented on #932
#941

[2020-08-13 08:45] Priya19999 opened #946 "Github And LinkedIn"
Description
When we click on the GitHub and LinkedIn logo at the end of the page it is showing error.
Expected Behavior
Girlscript Chennai website has a GitHub page and a  so it should Link us directly to the page

![Screenshot (286)](https://user-images.githubusercontent.com/46641222/90113668-54151e80-dd6f-11ea-8b28-da509e7e5936.png)
![Screenshot (285)](https://user-images.githubusercontent.com/4

[2020-08-13 10:08] anushbhatia commented on #946
They don't have the pages for them so we can't add that

[2020-08-13 10:40] Priya19999 commented on #946
Ok sir, I thought that we can provide the link in the code. I didn't know that the website will create its own different pages for GitHub and linkedIn.

[2020-08-13 11:06] anushbhatia commented on #946
yess it should be but they haven't done so we can't

[2020-08-13 11:21] Priya19999 commented on #946
Okay, Sir, I will close it sorry for the disturbance.

[2020-08-13 11:21] #946 closed

[2020-08-13 13:07] aavishkarmishra commented on #933
I would like to work on this issue, will you provide the detailed content or I should have to write that also.

[2020-08-13 13:54] smaranjitghose commented on #933
This project is meant to be boilerplate for all GirlScript Foundation chapters. You can make use of any events related to them instead of using a Lorem Ipsum placeholder text

[2020-09-19 00:59] aavishkarmishra commented on #933
Hello @smaranjitghose , will you review the pull request? And tell me how can I request review from someone.

[2020-09-21 12:29] #932 closed

[2020-09-23 18:14] himanshujaidka opened #949 "Button is not working properly"
**Describe the bug**
"Link to Github Repository" button is not working properly, after clicking, it has to show respected

![AB](https://user-images.githubusercontent.com/58654018/94052576-c0675100-fdf6-11ea-8f73-0b8675223b69.png)

[2020-09-25 11:23] himanshujaidka commented on #949
need help in this isuue

[2020-09-25 11:40] himanshujaidka commented on #949
is anyone there to help me out?

[2020-09-27 10:21] smaranjitghose commented on #949
Your ISSUE Description was unclear as you forgot to delete the template😅
Can you please elaborate on the issue with the GitHub button?

[2020-09-28 04:03] himanshujaidka commented on #949
@smaranjitghose pls go to the achievements page and trying to press the link to GitHub  repo button and you will find that button is not working accordingly, so to solve that bug I need help .

[2020-09-29 10:21] anushbhatia commented on #949
What help do you need

[2020-10-02 15:34] varun14gb commented on #949
I understood the problem.
Link to Github Repository in project card doesn't work.
Can I work on this issue?

[2020-10-03 06:36] varun14gb commented on #949
@smaranjitghose I have added a PR #952  regarding this issue

[2020-12-17 09:43] kavyashree1903 commented on #933
@smaranjitghose can I work on this?

[2020-12-19 17:31] smaranjitghose commented on #933
Sure

[2021-01-22 05:05] neetisaharan commented on #949
may i work on this issue?

[2021-01-28 15:18] Maaz-Code commented on #949
I think the issue is resolved.

[2021-01-28 15:21] Maaz-Code commented on #933
can I work on this?

[2021-01-30 11:36] #949 closed

[2021-02-01 04:41] Maaz-Code commented on #933
@smaranjitghose can you tell me what kind of info should the read more button open to and from where can I get the info? I am working on this currently.

[2021-02-11 13:56] Maaz-Code commented on #933
![1](https://user-images.githubusercontent.com/65590762/107645515-c921cc00-6c9e-11eb-8e8a-2817119380b6.png)
![2](https://user-images.githubusercontent.com/65590762/107645523-caeb8f80-6c9e-11eb-9c18-0f42557371f4.png)

@smaranjitghose If this fine then I will do the PR or else you can suggest any change if you want?

[2021-02-13 10:05] #933 closed

[2021-02-13 10:06] anushbhatia opened #954 "Suggestion in Website"
Feel Free to add any changes you want to have on this site.

[2021-03-09 08:11] riddhisiddarkar commented on #954
For the dark mode of the team page the content isn't visible due to color contrast.

![image](https://user-images.githubusercontent.com/59356132/110437416-5f4ce480-80db-11eb-96db-287baa878d6c.png)

[2021-09-29 16:01] chamiduu commented on #954
@anushbhatia Can I work on the text contrast issue?